Assignment 3 - Part 2 - n8n - Ajay Sharma C48.json
{
  "name": "Assisgnment_3_JSON",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-data-sources-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dec845d0-060c-4f0a-95c0-b1c5b0615063",
      "name": "Webhook POST Data Sources Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1424,
        -2448
      ],
      "webhookId": "signal-flow1-post-data-sources-sync"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "spreadsheet_id",
              "value": "[Enter the SpreadSheet ID]"
            }
          ]
        },
        "options": {}
      },
      "id": "63357c8a-610a-4659-8202-a75070683bb8",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1200,
        -2448
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1807706849,
          "mode": "list",
          "cachedResultName": "Raw_SQL_Returns",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=1807706849"
        },
        "options": {}
      },
      "id": "1b9736ca-beb3-4b13-a37e-c80ab89266b6",
      "name": "Read Returns Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -976,
        -2832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$json.spreadsheet_id}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 145959029,
          "mode": "list",
          "cachedResultName": "VoC_Reviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=145959029"
        },
        "options": {}
      },
      "id": "646a9d2e-f380-494a-83e1-066aaa9c1aa4",
      "name": "Read Reviews Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -752,
        -2448
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$json.spreadsheet_id}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 304167556,
          "mode": "list",
          "cachedResultName": "Fraud_Abuse",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=304167556"
        },
        "options": {}
      },
      "id": "0f384bfb-e9b7-461d-8655-33ccf5a63ed5",
      "name": "Read Fraud Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -528,
        -2256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$json.spreadsheet_id}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1372932066,
          "mode": "list",
          "cachedResultName": "NPS_FeatureBoards",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=1372932066"
        },
        "options": {}
      },
      "id": "8db87848-6c89-4e12-8601-c9826d9e2c6d",
      "name": "Read NPS Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -304,
        -2064
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const first = items[0]?.json ?? {};\nconst hasError = !!(first.error || first.message || first.description);\nconst count = hasError ? 0 : items.filter(i => Object.keys(i.json || {}).length > 0).length;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    id: 'returns',\n    name: 'Raw SQL Returns',\n    shortName: 'Returns',\n    status: hasError ? 'error' : 'synced',\n    lastSyncTime: now,\n    lastSyncDate: now.slice(0, 10),\n    recordsPulled: count,\n    recordsUnit: 'rows',\n    ragStatus: hasError ? 'error' : 'ready',\n    ragCount: 1,\n    category: 'returns',\n    namespace: 'RAG1',\n    sheetName: 'RawSQLReturns'\n  }\n}];"
      },
      "id": "9fd990b7-ecf5-42e7-8bfa-8ae5e7dee096",
      "name": "Summarize Returns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -2832
      ]
    },
    {
      "parameters": {
        "jsCode": "const first = items[0]?.json ?? {};\nconst hasError = !!(first.error || first.message || first.description);\nconst count = hasError ? 0 : items.filter(i => Object.keys(i.json || {}).length > 0).length;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    id: 'crm',\n    name: 'CRM Transcripts',\n    shortName: 'CRM',\n    status: hasError ? 'error' : 'synced',\n    lastSyncTime: now,\n    lastSyncDate: now.slice(0, 10),\n    recordsPulled: count,\n    recordsUnit: 'rows',\n    ragStatus: hasError ? 'error' : 'ready',\n    ragCount: 1,\n    category: 'crm',\n    namespace: 'RAG2',\n    sheetName: 'CRMTranscripts'\n  }\n}];"
      },
      "id": "3886f823-e316-4d49-9388-ad7aba56b6b9",
      "name": "Summarize CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -2640
      ]
    },
    {
      "parameters": {
        "jsCode": "const first = items[0]?.json ?? {};\nconst hasError = !!(first.error || first.message || first.description);\nconst count = hasError ? 0 : items.filter(i => Object.keys(i.json || {}).length > 0).length;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    id: 'reviews',\n    name: 'VoC Reviews',\n    shortName: 'Reviews',\n    status: hasError ? 'error' : 'synced',\n    lastSyncTime: now,\n    lastSyncDate: now.slice(0, 10),\n    recordsPulled: count,\n    recordsUnit: 'rows',\n    ragStatus: hasError ? 'error' : 'ready',\n    ragCount: 1,\n    category: 'reviews',\n    namespace: 'RAG3',\n    sheetName: 'VoCReviews'\n  }\n}];"
      },
      "id": "eeb76619-b296-4e4d-b71e-f2f0a2d50e5f",
      "name": "Summarize Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const first = items[0]?.json ?? {};\nconst hasError = !!(first.error || first.message || first.description);\nconst count = hasError ? 0 : items.filter(i => Object.keys(i.json || {}).length > 0).length;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    id: 'fraud',\n    name: 'Fraud / Abuse',\n    shortName: 'Fraud',\n    status: hasError ? 'error' : 'synced',\n    lastSyncTime: now,\n    lastSyncDate: now.slice(0, 10),\n    recordsPulled: count,\n    recordsUnit: 'rows',\n    ragStatus: hasError ? 'error' : 'ready',\n    ragCount: 1,\n    category: 'fraud',\n    namespace: 'RAG4',\n    sheetName: 'FraudAbuse'\n  }\n}];"
      },
      "id": "fb9d0860-ee8d-42b2-bc80-5acdcedf8f24",
      "name": "Summarize Fraud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -2256
      ]
    },
    {
      "parameters": {
        "jsCode": "const first = items[0]?.json ?? {};\nconst hasError = !!(first.error || first.message || first.description);\nconst count = hasError ? 0 : items.filter(i => Object.keys(i.json || {}).length > 0).length;\nconst now = new Date().toISOString();\nreturn [{\n  json: {\n    id: 'nps',\n    name: 'NPS Feature Boards',\n    shortName: 'NPS',\n    status: hasError ? 'error' : 'synced',\n    lastSyncTime: now,\n    lastSyncDate: now.slice(0, 10),\n    recordsPulled: count,\n    recordsUnit: 'rows',\n    ragStatus: hasError ? 'error' : 'ready',\n    ragCount: 1,\n    category: 'nps',\n    namespace: 'RAG5',\n    sheetName: 'NPSFeatureBoards'\n  }\n}];"
      },
      "id": "bf18f47a-c03d-4761-b55e-3bafefbd535a",
      "name": "Summarize NPS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -2064
      ]
    },
    {
      "parameters": {},
      "id": "6e6ff3a0-d58d-4b22-9da1-5e8a19827a94",
      "name": "Merge A",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -528,
        -2736
      ]
    },
    {
      "parameters": {},
      "id": "2abaafbb-3872-46d5-843e-eee8eeab6cd0",
      "name": "Merge B",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -304,
        -2640
      ]
    },
    {
      "parameters": {},
      "id": "00a3b2f9-0f0b-4660-a89b-1c10f442de25",
      "name": "Merge C",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -80,
        -2544
      ]
    },
    {
      "parameters": {},
      "id": "24526557-58b3-4f0d-a87a-d85eb5a88e47",
      "name": "Merge D",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        144,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourceNameMap = {\n  returns: \"Data Warehouse\",\n  crm: \"CRM / Customer Service Platform\",\n  reviews: \"VoC / Review Analytics Engine\",\n  fraud: \"Fraud & Abuse Risk Engine\",\n  nps: \"Post Return NPS\",\n};\n\nconst sourceNamespaceMap = {\n  returns: \"RAG1\",\n  crm: \"RAG2\",\n  reviews: \"RAG3\",\n  fraud: \"RAG4\",\n  nps: \"RAG5\",\n};\n\nconst sourceOrder = [\"returns\", \"crm\", \"reviews\", \"fraud\", \"nps\"];\n\nfunction formatDisplayTime(value) {\n  if (!value) return null;\n  const d = new Date(value);\n  if (Number.isNaN(d.getTime())) return String(value);\n  return d.toLocaleString(\"en-IN\", {\n    year: \"numeric\",\n    month: \"short\",\n    day: \"2-digit\",\n    hour: \"numeric\",\n    minute: \"2-digit\",\n    hour12: true,\n  });\n}\n\nfunction normalizeStatus(value) {\n  return String(value || \"\").toLowerCase() === \"synced\" ? \"Synced\" : \"Not synced\";\n}\n\nfunction normalizeRagStatus(value) {\n  return String(value || \"\").toLowerCase() === \"ready\" ? \"Indexed\" : \"Not indexed\";\n}\n\nconst rawSources = items.map(item => item.json || {});\n\nconst normalizedById = {};\nfor (const src of rawSources) {\n  const id = src.id || src.category;\n  if (!id) continue;\n\n  const ragCount = Number(src.ragCount ?? src.ragIndexed ?? 0) || 0;\n  const recordsPulled = Number(src.recordsPulled ?? src.rowCount ?? 0) || 0;\n  const lastSyncRaw = src.lastSyncTime || src.lastGlobalSyncTime || new Date().toISOString();\n\n  normalizedById[id] = {\n    id,\n    name: sourceNameMap[id] || src.name || id,\n    internalName: src.name || null,\n    status: normalizeStatus(src.status),\n    lastSyncTime: formatDisplayTime(lastSyncRaw),\n    lastSyncTimeRaw: lastSyncRaw,\n    recordsPulled,\n    recordsUnit: src.recordsUnit || \"rows\",\n    ragStatus: normalizeRagStatus(src.ragStatus),\n    ragIndexed: ragCount,\n    namespace: src.namespace || sourceNamespaceMap[id] || null,\n    sheetName: src.sheetName || null,\n  };\n}\n\nconst sources = sourceOrder\n  .filter(id => normalizedById[id])\n  .map(id => normalizedById[id]);\n\nconst activeSources = sources.filter(s => s.status === \"Synced\").length;\nconst ragIndexed = sources.reduce((sum, s) => sum + (Number(s.ragIndexed) || 0), 0);\nconst recordsProcessed = sources.reduce((sum, s) => sum + (Number(s.recordsPulled) || 0), 0);\n\nconst lastGlobalSyncTimeRaw =\n  sources\n    .map(s => s.lastSyncTimeRaw)\n    .filter(Boolean)\n    .sort()\n    .slice(-1)[0] || new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      summaryCards: {\n        activeSources,\n        ragIndexed,\n        recordsProcessed,\n      },\n      activeSources,\n      ragIndexed,\n      recordsProcessed,\n      lastGlobalSyncTime: formatDisplayTime(lastGlobalSyncTimeRaw),\n      lastGlobalSyncTimeRaw,\n      sources,\n    },\n  },\n];\n"
      },
      "id": "84093910-d856-40bd-a850-3a2bfa3a9d20",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -2448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "4d893e0c-22e4-4cf7-acfd-7a88b5b62be0",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        592,
        -2448
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$json.spreadsheet_id}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 267245602,
          "mode": "list",
          "cachedResultName": "CRM_Transcripts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=267245602"
        },
        "options": {}
      },
      "id": "cad31289-acea-46c7-a43c-2ab45f64b166",
      "name": "Read CRM Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -976,
        -2640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'returns';\nconst sourceSheet = 'Raw_SQL_Returns';\nconst namespace = 'RAG1';\n\nreturn items\n  .map((item, idx) => {\n    const row = item.json || {};\n\n    const orderId = String(row.Order_ID ?? '').trim();\n    const category = String(row.Category ?? '').trim();\n    const returnDate = String(row.Return_Date ?? '').trim();\n    const returnReasonCode = String(row.Return_Reason_Code ?? '').trim();\n    const customerSubjectiveReason = String(row.Customer_Subjective_Reason ?? '').trim();\n\n    if (!customerSubjectiveReason) return null;\n\n    return {\n      json: {\n        lane,\n        namespace,\n        source_sheet: sourceSheet,\n        source_column: 'Customer_Subjective_Reason',\n        row_number: Number(row.row_number ?? idx + 1),\n\n        order_id: orderId,\n        category: category,\n        return_date: returnDate,\n        return_reason_code: returnReasonCode,\n        customer_subjective_reason: customerSubjectiveReason\n      }\n    };\n  })\n  .filter(Boolean);\n"
      },
      "id": "7f33bb69-9c20-4385-b7d7-9a780c22d481",
      "name": "Prepare Returns Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -952
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'crm';\nconst sourceSheet = 'CRM_Transcripts';\nconst namespace = 'RAG2';\n\nreturn items\n  .map((item, idx) => {\n    const row = item.json || {};\n\n    const orderId = String(row.Order_ID ?? '').trim();\n    const ticketSource = String(row.Ticket_Source ?? '').trim();\n    const transcriptSummary = String(row.Transcript_Summary ?? '').trim();\n    const sentimentScore = String(row.Sentiment_Score ?? '').trim();\n\n    if (!transcriptSummary) return null;\n\n    return {\n      json: {\n        lane,\n        namespace,\n        source_sheet: sourceSheet,\n        source_column: 'Transcript_Summary',\n        row_number: Number(row.row_number ?? idx + 1),\n\n        order_id: orderId,\n        ticket_source: ticketSource,\n        transcript_summary: transcriptSummary,\n        sentiment_score: sentimentScore\n      }\n    };\n  })\n  .filter(Boolean);\n"
      },
      "id": "48949d4b-f394-40d2-8c7a-20b8a6a2860f",
      "name": "Prepare CRM Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -516
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "RAG1"
        }
      },
      "id": "368ffbdc-cc04-4b78-9dd7-971f3d55bab2",
      "name": "Pinecone Insert Returns",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        800,
        -1184
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "RAG2"
        }
      },
      "id": "a4e7986b-48b4-4fe8-972e-82feee80a139",
      "name": "Pinecone Insert CRM",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        800,
        -468
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "34de94c4-4717-4ba5-ace9-c51c67d82964",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        -1296
      ],
      "credentials": {
        "openAiApi": {
          "id": "e4gkhQrNWMI5phYH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lane = 'reviews';\nconst sourceSheet = 'VoC_Reviews';\nconst namespace = 'RAG3';\n\nreturn items\n  .map((item, idx) => {\n    const row = item.json || {};\n\n    const orderId = String(row.Order_ID ?? '').trim();\n    const source = String(row.Source ?? '').trim();\n    const starRating = String(row.Star_Rating ?? '').trim();\n    const customerFeedback = String(row.Customer_Feedback ?? '').trim();\n    const verifiedPurchase = String(row.Verified_Purchase ?? '').trim();\n\n    if (!customerFeedback) return null;\n\n    return {\n      json: {\n        lane,\n        namespace,\n        source_sheet: sourceSheet,\n        source_column: 'Customer_Feedback',\n        row_number: Number(row.row_number ?? idx + 1),\n\n        order_id: orderId,\n        review_source: source,\n        star_rating: starRating,\n        customer_feedback: customerFeedback,\n        verified_purchase: verifiedPurchase\n      }\n    };\n  })\n  .filter(Boolean);\n"
      },
      "id": "bf6621aa-f433-4aad-bdd0-cec98de53fec",
      "name": "Prepare Reviews Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        24
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Ticket source: {{$json.ticket_source}}\nSentiment score: {{$json.sentiment_score}}\nTranscript summary: {{$json.transcript_summary}}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "source_column",
                "value": "={{$json.source_column}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              },
              {
                "name": "ticket_source",
                "value": "={{$json.ticket_source}}"
              },
              {
                "name": "sentiment_score",
                "value": "={{$json.sentiment_score}}"
              }
            ]
          }
        }
      },
      "id": "e846cc00-61ab-48ad-9f54-aa28fcea0e67",
      "name": "CRM Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        872,
        -244
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Category: {{$json.category}}\nReturn reason code: {{$json.return_reason_code}}\nCustomer subjective reason: {{$json.customer_subjective_reason}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "source_column",
                "value": "={{$json.source_column}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              },
              {
                "name": "category",
                "value": "={{$json.category}}"
              },
              {
                "name": "return_reason_code",
                "value": "={{$json.return_reason_code}}"
              }
            ]
          }
        }
      },
      "id": "9d41cc3d-1978-4116-af63-730768e4191f",
      "name": "Returns Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        936,
        -960
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "RAG3"
        }
      },
      "id": "711d47dd-589a-4932-b168-e89997cd948b",
      "name": "Pinecone Insert Reviews",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1152,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "6a010aa7-dbe8-420d-b45a-432a05b1659f",
      "name": "Sync Inserts A",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        576,
        -876
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'fraud';\nconst sourceSheet = 'Fraud_Abuse';\nconst namespace = 'RAG4';\n\nreturn items\n  .map((item, idx) => {\n    const row = item.json || {};\n\n    const orderId = String(row.Order_ID ?? '').trim();\n    const riskScore = String(row.Risk_Score ?? '').trim();\n    const investigatorNotes = String(row.Investigator_Notes ?? '').trim();\n    const actionTaken = String(row.Action_Taken ?? '').trim();\n\n    if (!investigatorNotes) return null;\n\n    return {\n      json: {\n        lane,\n        namespace,\n        source_sheet: sourceSheet,\n        source_column: 'Investigator_Notes',\n        row_number: Number(row.row_number ?? idx + 1),\n\n        order_id: orderId,\n        risk_score: riskScore,\n        investigator_notes: investigatorNotes,\n        action_taken: actionTaken\n      }\n    };\n  })\n  .filter(Boolean);\n"
      },
      "id": "9423682a-cf70-4969-b1b9-628ba0d3386a",
      "name": "Prepare Fraud Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        456
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Source: {{$json.review_source}}\nStar rating: {{$json.star_rating}}\nVerified purchase: {{$json.verified_purchase}}\nCustomer feedback: {{$json.customer_feedback}}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "source_column",
                "value": "={{$json.source_column}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              },
              {
                "name": "review_source",
                "value": "={{$json.review_source}}"
              },
              {
                "name": "star_rating",
                "value": "={{$json.star_rating}}"
              },
              {
                "name": "verified_purchase",
                "value": "={{$json.verified_purchase}}"
              }
            ]
          }
        }
      },
      "id": "8da47a3c-6840-4faa-8ee4-44e549240539",
      "name": "Reviews Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1224,
        208
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "RAG4"
        }
      },
      "id": "699fdf73-2ae0-4bfc-a1b0-fac09f310542",
      "name": "Pinecone Insert Fraud",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1504,
        424
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "2a2fe09a-3a77-43d3-bb5c-daa0919b0be2",
      "name": "Sync Inserts B",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        864,
        -784
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'nps';\nconst sourceSheet = 'NPS_FeatureBoards';\nconst namespace = 'RAG5';\n\nreturn items\n  .map((item, idx) => {\n    const row = item.json || {};\n\n    const orderId = String(row.Order_ID ?? '').trim();\n    const csatScore = String(row.CSAT_Score ?? '').trim();\n    const featureRequestTag = String(row.Feature_Request_Tag ?? '').trim();\n    const surveyComment = String(row.Survey_Comment ?? '').trim();\n\n    if (!surveyComment) return null;\n\n    return {\n      json: {\n        lane,\n        namespace,\n        source_sheet: sourceSheet,\n        source_column: 'Survey_Comment',\n        row_number: Number(row.row_number ?? idx + 1),\n\n        order_id: orderId,\n        csat_score: csatScore,\n        feature_request_tag: featureRequestTag,\n        survey_comment: surveyComment\n      }\n    };\n  })\n  .filter(Boolean);\n"
      },
      "id": "b733cf80-8c3f-487b-98b0-a2c1d4b604d9",
      "name": "Prepare NPS Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        872
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Risk score: {{$json.risk_score}}\nAction taken: {{$json.action_taken}}\nInvestigator notes: {{$json.investigator_notes}}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "source_column",
                "value": "={{$json.source_column}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              },
              {
                "name": "risk_score",
                "value": "={{$json.risk_score}}"
              },
              {
                "name": "action_taken",
                "value": "={{$json.action_taken}}"
              }
            ]
          }
        }
      },
      "id": "c1d83fe5-4a83-4b5d-93cb-0d690367e2dc",
      "name": "Fraud Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1576,
        648
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "RAG5"
        }
      },
      "id": "6ebfa9fa-c894-440e-a569-7f026b7c3394",
      "name": "Pinecone Insert NPS",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1856,
        944
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "03c0c504-0191-46ac-8fba-37bb6d6b0742",
      "name": "Sync Inserts C",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1216,
        -784
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=CSAT score: {{$json.csat_score}}\nFeature request tag: {{$json.feature_request_tag}}\nSurvey comment: {{$json.survey_comment}}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "source_column",
                "value": "={{$json.source_column}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              },
              {
                "name": "csat_score",
                "value": "={{$json.csat_score}}"
              },
              {
                "name": "feature_request_tag",
                "value": "={{$json.feature_request_tag}}"
              }
            ]
          }
        }
      },
      "id": "8853ea01-0051-46dd-8f4f-e7941a8f80dc",
      "name": "NPS Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1904,
        1248
      ]
    },
    {
      "parameters": {},
      "id": "615f5933-a7ce-46c9-8f5e-b59082b441ae",
      "name": "Sync Inserts D",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1568,
        -784
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "9c39ace4-d6ac-42f5-91ed-663443c29c6d",
      "name": "Wait For Pinecone Indexing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1920,
        -784
      ],
      "alwaysOutputData": true,
      "webhookId": "1a9fe82a-302b-4350-869f-f5beedab4242",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $item(0).$node[\"Config Ingest\"].json;\n\nreturn [\n\n  {\n    json: {\n      lane: 'returns',\n      namespace: 'RAG1',\n      natural_query: cfg.returns_query || 'product received damaged defective wrong item size mismatch description inaccurate manufacturing defect premature failure unusable on arrival',\n      top_k: 40\n    }\n  },\n\n  {\n    json: {\n      lane: 'crm',\n      namespace: 'RAG2',\n      natural_query: cfg.crm_query || 'refund not processed support unresponsive return label not received resolution delayed agent unable to help repeated contact multiple escalations',\n      top_k: 35\n    }\n  },\n\n  {\n    json: {\n      lane: 'reviews',\n      namespace: 'RAG3',\n      natural_query: cfg.reviews_query || 'product stopped working broke after first use not as described photo misleading quality worse than expected packaging arrived damaged counterfeit',\n      top_k: 30\n    }\n  },\n\n  {\n    json: {\n      lane: 'fraud',\n      namespace: 'RAG4',\n      natural_query: cfg.fraud_query || 'multiple refund requests same account different addresses item not returned but refund claimed high frequency returns no defect found suspicious pattern',\n      top_k: 25\n    }\n  },\n\n  {\n    json: {\n      lane: 'nps',\n      namespace: 'RAG5',\n      natural_query: cfg.nps_query || 'return process too complicated too many steps refund took too long app crashed during return could not find return option poor post-purchase experience',\n      top_k: 30\n    }\n  }\n\n];"
      },
      "id": "35d2f2e5-1a7d-4b1e-af33-e6725f11e6de",
      "name": "Build Retrieval Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -416
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"returns_query\"]}}",
        "topK": "={{ $json.top_k }}",
        "options": {
          "pineconeNamespace": "RAG1"
        }
      },
      "id": "56e95d25-771e-4033-ad6d-2ecb6a523e84",
      "name": "Pinecone Retrieve Returns",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2432,
        -924
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"crm_query\"]}}",
        "topK": "={{ $json.top_k }}",
        "options": {
          "pineconeNamespace": "RAG2"
        }
      },
      "id": "2eabf9b1-314d-446e-a4f6-6e1293db511d",
      "name": "Pinecone Retrieve CRM",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2432,
        -628
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"reviews_query\"]}}",
        "topK": "={{ $json.top_k }}",
        "options": {
          "pineconeNamespace": "RAG3"
        }
      },
      "id": "4404bdd9-d7db-4b15-95dd-ddc6599501d2",
      "name": "Pinecone Retrieve Reviews",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2784,
        -436
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"fraud_query\"]}}",
        "topK": "={{ $json.top_k }}",
        "options": {
          "pineconeNamespace": "RAG4"
        }
      },
      "id": "491fae90-d8b7-4866-8575-b7caba8feb45",
      "name": "Pinecone Retrieve Fraud",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        3136,
        -244
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"nps_query\"]}}",
        "topK": "={{ $json.top_k }}",
        "options": {
          "pineconeNamespace": "RAG5"
        }
      },
      "id": "5c2ebbdd-7ede-4e61-a0cb-e84e9337ebd8",
      "name": "Pinecone Retrieve NPS",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        3488,
        -52
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nconst chunks = items\n  .filter((item) => {\n    const meta = item.json.document?.metadata || {};\n\n    const key = [\n      meta.lane || '',\n      meta.namespace || '',\n      meta.row_number || ''\n    ].join('|');\n\n    if (seen.has(key)) return false;\n\n    seen.add(key);\n    return true;\n  })\n  .map((item, idx) => {\n    const doc = item.json.document || {};\n    const text =\n      doc.pageContent ||\n      item.json.pageContent ||\n      item.json.text ||\n      '';\n\n    return text ? `[${idx + 1}] ${text}` : '';\n  })\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    lane: 'returns',\n    namespace: 'RAG1',\n    natural_query: $item(0).$node[\"Config Ingest\"].json[\"returns_query\"],\n    evidence_count: chunks.length,\n    retrieved_context: chunks.join('\\n\\n')\n  }\n}];"
      },
      "id": "2508f98f-108f-4b81-a056-cdab9b8c4fc6",
      "name": "Format Retrieved Context Returns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        -924
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nconst chunks = items\n  .filter((item) => {\n    const meta = item.json.document?.metadata || {};\n    const key = `${meta.lane}|${meta.namespace}|${meta.row_number || meta.rownumber}`;\n\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .map((item, idx) => {\n    const doc = item.json.document || {};\n    const meta = doc.metadata || {};\n    const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n\n    if (!text) return '';\n\n    return `[${idx + 1}]\nSource: ${meta.source_sheet || meta.sourcesheet || 'CRM'}\nCRM Context:\n${text}`;\n  })\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    lane: 'crm',\n    namespace: 'RAG2',\n    natural_query: $item(0).$node[\"Config Ingest\"].json[\"crm_query\"],\n    evidence_count: chunks.length,\n    retrieved_context: chunks.join('\\n\\n')\n  }\n}];\n"
      },
      "id": "7af49313-e452-403f-a718-57dfc315ee74",
      "name": "Format Retrieved Context CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        -628
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nconst chunks = items\n  .filter((item) => {\n    const meta = item.json.document?.metadata || {};\n    const key = `${meta.lane}|${meta.namespace}|${meta.row_number}`;\n\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .map((item, idx) => {\n    const doc = item.json.document || {};\n    const meta = doc.metadata || {};\n    const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n\n    if (!text) return '';\n\n    return `[${idx + 1}]\nSource: ${meta.source_sheet || 'Reviews'}\nRating Context:\n${text}`;\n  })\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    lane: 'reviews',\n    namespace: 'RAG3',\n    natural_query: $item(0).$node[\"Config Ingest\"].json[\"reviews_query\"],\n    evidence_count: chunks.length,\n    retrieved_context: chunks.join('\\n\\n')\n  }\n}];"
      },
      "id": "305e002f-a68f-4d30-851a-8b9e03a3d4ec",
      "name": "Format Retrieved Context Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -436
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nconst chunks = items\n  .filter((item) => {\n    const meta = item.json.document?.metadata || {};\n    const key = `${meta.lane}|${meta.namespace}|${meta.row_number}`;\n\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .map((item, idx) => {\n    const doc = item.json.document || {};\n    const meta = doc.metadata || {};\n    const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n\n    if (!text) return '';\n\n    return `[${idx + 1}]\nCustomer Feedback Context:\n${text}`;\n  })\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    lane: 'nps',\n    namespace: 'RAG5',\n    natural_query: $item(0).$node[\"Config Ingest\"].json[\"nps_query\"],\n    evidence_count: chunks.length,\n    retrieved_context: chunks.join('\\n\\n')\n  }\n}];"
      },
      "id": "7530912d-2ecf-4855-9e27-5ecc43219bff",
      "name": "Format Retrieved Context NPS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        -52
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0]?.json || {};\nlet candidate = raw.text || raw.response || raw.output || raw.message || raw.content || '';\n\nif (typeof candidate !== 'string') {\n  candidate = JSON.stringify(candidate || {});\n}\n\nlet cleaned = candidate.trim();\n\nif (cleaned.startsWith('```json')) {\n  cleaned = cleaned.replace(/^```json\\s*/i, '').replace(/\\s*```$/i, '').trim();\n} else if (cleaned.startsWith('```')) {\n  cleaned = cleaned.replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n}\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = null;\n}\n\nconst obj = parsed && typeof parsed === 'object' ? parsed : {};\n\nconst normArr = (v) => {\n  if (!v) return [];\n  if (Array.isArray(v)) {\n    return v\n      .map((x) => {\n        if (typeof x === 'string') return x.trim();\n        if (x && typeof x === 'object') return JSON.stringify(x);\n        return String(x ?? '').trim();\n      })\n      .filter(Boolean);\n  }\n  if (typeof v === 'string') {\n    return v\n      .split(/\\s*\\|\\s*|\\n|;;|;/)\n      .map((s) => s.trim())\n      .filter(Boolean);\n  }\n  return [String(v)];\n};\n\nconst isLikelyPlaceholderNote = (notes) => {\n  if (!notes || typeof notes !== 'string') return false;\n  const n = notes.toLowerCase();\n  return (\n    (n.includes('\"natural_query\"') || n.includes('natural_query')) &&\n    (n.includes('\"top_k\"') || n.includes('top_k'))\n  );\n};\n\nconst normalizePriorityIssue = (issue) => {\n  if (!issue) return null;\n\n  if (typeof issue === 'string') {\n    return {\n      title: issue,\n      confidence_score: null,\n      grounded_score: null,\n      event_count: null,\n      supporting_lanes: [],\n      driving_themes: []\n    };\n  }\n\n  if (typeof issue === 'object') {\n    return {\n      title: String(issue.title || issue.problem || issue.issue || '').trim(),\n      confidence_score:\n        issue.confidence_score ?? issue.confidence ?? issue.score ?? null,\n      grounded_score:\n        issue.grounded_score ?? issue.groundedness_score ?? issue.grounded ?? null,\n      event_count:\n        Number(issue.event_count ?? issue.events ?? issue.evidence_count ?? 0) || 0,\n      supporting_lanes: normArr(issue.supporting_lanes || issue.sources || issue.lanes),\n      driving_themes: normArr(issue.driving_themes || issue.drivers || issue.themes).slice(0, 4)\n    };\n  }\n\n  return null;\n};\n\nconst priorityIssuesRaw = Array.isArray(obj.priority_issues)\n  ? obj.priority_issues\n  : normArr(obj.priority_issues);\n\nconst priority_issues_array = priorityIssuesRaw\n  .map(normalizePriorityIssue)\n  .filter((x) => x && x.title);\n\nconst cross_lane_patterns_array = Array.isArray(obj.cross_lane_patterns)\n  ? obj.cross_lane_patterns.map((x) => String(x))\n  : normArr(obj.cross_lane_patterns);\n\nconst recommended_actions_array = Array.isArray(obj.recommended_actions)\n  ? obj.recommended_actions.map((x) => String(x))\n  : normArr(obj.recommended_actions);\n\nconst follow_up_questions_array = Array.isArray(obj.follow_up_questions)\n  ? obj.follow_up_questions.map((x) => String(x)).slice(0, 4)\n  : normArr(obj.follow_up_questions).slice(0, 4);\n\nconst rawLaneSummaries = Array.isArray(obj.lane_summaries) ? obj.lane_summaries : [];\n\nconst normalizedLaneSummaries = rawLaneSummaries.map((x) => {\n  const themes = normArr(x.top_themes || x.themes);\n  const examples = normArr(x.evidence_examples);\n  const notes = x.notes || '';\n  const evidence_count = Number(x.evidence_count ?? x.evidencecount ?? 0) || 0;\n\n  return {\n    lane: String(x.lane || '').trim(),\n    namespace: String(x.namespace || '').trim(),\n    evidence_count,\n    top_themes: themes,\n    notes,\n    evidence_examples: examples\n  };\n});\n\nconst grouped = new Map();\n\nfor (const ls of normalizedLaneSummaries) {\n  const key = `${String(ls.lane || '').toLowerCase()}|${String(ls.namespace || '').toLowerCase()}`;\n  const existing = grouped.get(key);\n\n  if (!existing) {\n    grouped.set(key, { ...ls });\n    continue;\n  }\n\n  const existingScore =\n    (existing.evidence_count * 100) +\n    (existing.top_themes.length * 10) +\n    (existing.evidence_examples.length * 5) +\n    (isLikelyPlaceholderNote(existing.notes) ? -25 : 0);\n\n  const incomingScore =\n    (ls.evidence_count * 100) +\n    (ls.top_themes.length * 10) +\n    (ls.evidence_examples.length * 5) +\n    (isLikelyPlaceholderNote(ls.notes) ? -25 : 0);\n\n  const best = incomingScore > existingScore ? ls : existing;\n  const other = incomingScore > existingScore ? existing : ls;\n\n  grouped.set(key, {\n    lane: best.lane || other.lane,\n    namespace: best.namespace || other.namespace,\n    evidence_count: Math.max(best.evidence_count || 0, other.evidence_count || 0),\n    top_themes: [...new Set([...(best.top_themes || []), ...(other.top_themes || [])])].slice(0, 8),\n    evidence_examples: [...new Set([...(best.evidence_examples || []), ...(other.evidence_examples || [])])].slice(0, 5),\n    notes:\n      !isLikelyPlaceholderNote(best.notes) && best.notes\n        ? best.notes\n        : other.notes || best.notes || ''\n  });\n}\n\nconst dedupedLaneSummaries = Array.from(grouped.values());\n\nconst byLane = Object.fromEntries(\n  dedupedLaneSummaries.map((x) => [String(x.lane || '').toLowerCase(), x])\n);\n\nconst formatLaneSummary = (x) => {\n  if (!x) return { compact: '', structured: null };\n\n  const themes = normArr(x.top_themes || x.themes);\n  const notes = x.notes || '';\n  const examples = normArr(x.evidence_examples);\n  const evidence_count = Number(x.evidence_count ?? x.evidencecount ?? 0) || 0;\n\n  const compact = `Themes: ${themes.join('; ')}${\n    examples.length ? ' | Evidence examples: ' + examples.join(' | ') : ''\n  } | Notes: ${notes}`;\n\n  const structured = {\n    lane: x.lane || '',\n    namespace: x.namespace || '',\n    evidence_count,\n    top_themes: themes,\n    notes,\n    evidence_examples: examples\n  };\n\n  return { compact, structured };\n};\n\nconst returnsFmt = formatLaneSummary(byLane.returns);\nconst crmFmt = formatLaneSummary(byLane.crm);\nconst reviewsFmt = formatLaneSummary(byLane.reviews);\nconst fraudFmt = formatLaneSummary(byLane.fraud);\nconst npsFmt = formatLaneSummary(byLane.nps);\n\nconst totalEvents =\n  dedupedLaneSummaries.reduce(\n    (s, l) => s + (Number(l.evidence_count ?? l.evidencecount ?? 0) || 0),\n    0\n  ) || 0;\n\nconst priority_issues_text = priority_issues_array\n  .map((x) => x.title)\n  .filter(Boolean)\n  .join(' | ');\n\nconst cross_lane_patterns_text = cross_lane_patterns_array.join(' | ');\nconst recommended_actions_text = recommended_actions_array.join(' | ');\nconst follow_up_questions_text = follow_up_questions_array.join(' | ');\n\nreturn [\n  {\n    json: {\n      run_timestamp: new Date().toISOString(),\n      report_title: obj.report_title || 'Customer Experience Master Summary',\n      overall_summary: obj.overall_summary || cleaned || 'No master summary returned.',\n\n      priority_issues: priority_issues_array,\n      cross_lane_patterns: cross_lane_patterns_array,\n      recommended_actions: recommended_actions_array,\n      follow_up_questions: follow_up_questions_array,\n\n      priority_issues_text,\n      cross_lane_patterns_text,\n      recommended_actions_text,\n      follow_up_questions_text,\n\n      lane_output_count: dedupedLaneSummaries.length,\n      total_events_analyzed: totalEvents,\n\n      returns_summary: returnsFmt.compact,\n      crm_summary: crmFmt.compact,\n      reviews_summary: reviewsFmt.compact,\n      fraud_summary: fraudFmt.compact,\n      nps_summary: npsFmt.compact,\n\n      lane_summaries: [\n        returnsFmt.structured,\n        crmFmt.structured,\n        reviewsFmt.structured,\n        fraudFmt.structured,\n        npsFmt.structured\n      ].filter(Boolean),\n\n      static_questions: {\n        question_1: follow_up_questions_array[0] || '',\n        question_2: follow_up_questions_array[1] || '',\n        question_3: follow_up_questions_array[2] || '',\n        question_4: follow_up_questions_array[3] || ''\n      },\n\n      raw_master_json_obj: obj,\n      raw_master_text: cleaned\n    }\n  }\n];\n"
      },
      "id": "7763da34-70ce-4fab-a03b-8b44b569fd73",
      "name": "Final Master Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5344,
        -512
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lane-level intelligence reports:\n{{$json.master_context}}\n\nTotal lanes analyzed: {{$json.lane_output_count}}\n\nYour task:\n1. Read all lane reports carefully. Look for problems that appear across multiple lanes — these are your strongest signals.\n2. Identify the TOP 5 most impactful problems. For each, compute confidence_score, grounded_score, and event_count using the scoring rules in your instructions.\n3. Write each problem as a specific, customer-facing statement.\n4. Identify cross-lane patterns — explicit connections between what different lanes are saying about the same underlying problem.\n5. Generate 4 follow-up questions a Returns PM would ask to go deeper on the most critical findings.\n\nDo not guess. Do not add context not present in the lane reports.\nRespond only with valid JSON.\n",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $item(0).$node[\"Config Ingest\"].json[\"master_llm_system_prompt\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "7052aaa8-bfb1-427a-af7e-591d81894485",
      "name": "Master RAG LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4992,
        -512
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const normalized = items.map((item, idx) => {\n  const raw = item.json || {};\n  let candidate = raw.text || raw.response || raw.output || raw.message || raw.content || '';\n\n  if (typeof candidate !== 'string') {\n    candidate = JSON.stringify(candidate || {});\n  }\n\n  let cleaned = candidate.trim();\n\n  if (cleaned.startsWith('```json')) {\n    cleaned = cleaned.replace(/^```json\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  } else if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  }\n\n  let parsed = null;\n  if (cleaned) {\n    try {\n      parsed = JSON.parse(cleaned);\n    } catch (e) {}\n  }\n\n  const obj = parsed && typeof parsed === 'object' ? parsed : raw;\n\n  const lane = obj.lane || raw.lane || `lane_${idx + 1}`;\n  const namespace = obj.namespace || raw.namespace || '';\n  const evidence_count = Number(\n    obj.evidence_count ?? obj.evidencecount ?? raw.evidence_count ?? raw.evidencecount ?? 0\n  );\n\n  let themes = obj.themes ?? raw.themes ?? [];\n  if (Array.isArray(themes)) {\n    themes = themes\n      .map((t) => {\n        if (typeof t === 'string') return t;\n        if (t && typeof t === 'object') {\n          const theme = t.theme || '';\n          const description = t.description || '';\n          return [theme, description].filter(Boolean).join(': ');\n        }\n        return String(t ?? '');\n      })\n      .filter(Boolean);\n  } else if (themes && typeof themes === 'object') {\n    themes = [JSON.stringify(themes)];\n  } else if (typeof themes === 'string') {\n    themes = themes.split(';').map((s) => s.trim()).filter(Boolean);\n  } else {\n    themes = [];\n  }\n\n  let evidence_examples = obj.evidence_examples ?? raw.evidence_examples ?? [];\n\n  if (Array.isArray(evidence_examples)) {\n    evidence_examples = evidence_examples\n      .map((e) => {\n        if (typeof e === 'string') return e;\n        if (typeof e === 'object') return JSON.stringify(e);\n        return String(e ?? '');\n      })\n      .filter(Boolean);\n  } else if (typeof evidence_examples === 'string') {\n    evidence_examples = [evidence_examples];\n  } else {\n    evidence_examples = [];\n  }\n\n  const notes = (obj.notes ?? raw.notes ?? cleaned) || JSON.stringify(raw);\n\n  return {\n    lane,\n    namespace,\n    evidence_count,\n    themes,\n    notes,\n    evidence_examples\n  };\n});\n\nconst masterContext = normalized.length\n  ? normalized\n      .map((x, idx) =>\n        [\n          `[${idx + 1}] Lane: ${x.lane}`,\n          `Namespace: ${x.namespace}`,\n          `Evidence count: ${x.evidence_count}`,\n          `Themes: ${Array.isArray(x.themes) ? x.themes.join('; ') : x.themes}`,\n          `Evidence examples: ${\n            x.evidence_examples.length ? x.evidence_examples.join(' | ') : 'None'\n          }`,\n          `Notes: ${typeof x.notes === 'string' ? x.notes : JSON.stringify(x.notes)}`\n        ].join('\\n')\n      )\n      .join('\\n\\n')\n  : 'No lane outputs with evidence were found.';\n\nreturn [\n  {\n    json: {\n      lane_output_count: normalized.length,\n      master_context: masterContext,\n      lane_outputs: normalized,\n      lane_outputs_json: JSON.stringify(normalized)\n    }\n  }\n];"
      },
      "id": "5e4470fe-8bc8-47d7-a838-5d4248554130",
      "name": "Build Master Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4768,
        -512
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "da888bcc-5dd0-4047-89d5-a5abd916002e",
      "name": "Merge Lane LLM 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4544,
        -512
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "4fbfd988-ee14-4d2f-b420-6aa03ba86890",
      "name": "Merge Lane LLM 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4256,
        -608
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "4655c97e-ee17-4a45-92db-a9247f098852",
      "name": "Merge Lane LLM 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3904,
        -704
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {}
      },
      "id": "baee57af-2fd2-47c6-b8ab-7a5660f30943",
      "name": "OpenRouter RAG Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4160,
        -1248
      ],
      "credentials": {
        "openRouterApi": {
          "id": "b5R2CZo1ex5fWzCy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7a0a3a37-169d-4aa3-a925-79cd1b4a1bc6",
      "name": "Merge Lane LLM 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3552,
        -800
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lane: {{$json.lane}}\nNamespace: {{$json.namespace}}\nEvidence count: {{$json.evidence_count}}\n\nCustomer satisfaction survey responses retrieved:\n{{$json.retrieved_context}}\n\nIdentify the top 6–10 post-purchase journey friction points. Prioritize themes that indicate customers were blocked, confused, or forced to abandon the return/refund process.\n\nAssign severity_score, frequency_signal, and confidence_rationale.\n\nRespond only with valid JSON.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a post-purchase experience analyst. You analyze customer satisfaction surveys and NPS responses to identify friction points in the return and refund journey — specifically the moments where customers feel the process failed them.\n\nThink like a PM: your goal is to surface the top journey failures that, if fixed, would most meaningfully improve NPS scores and repeat purchase rates.\n\nRules:\n- Use ONLY the evidence provided.\n- Themes must describe a specific journey failure (e.g. \"App crashes when initiating return on mobile\" not \"app problem\").\n- severity_score: 0.0–1.0. High if issue blocks return completion or causes customer to abandon.\n- frequency_signal: estimated % of records showing this theme.\n- confidence_rationale: one sentence.\n- evidence_examples: 3 snippets from different survey responses (≤120 chars).\n\nReturn ONLY valid JSON with these exact keys:\nlane, namespace, evidence_count, themes, severity_score, frequency_signal, confidence_rationale, notes, evidence_examples\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "4a9840a7-66d2-4b34-91b5-cff582ee7aad",
      "name": "RAG LLM NPS",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4192,
        -52
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lane: {{$json.lane}}\nNamespace: {{$json.namespace}}\nEvidence count: {{$json.evidence_count}}\n\nFraud investigation records retrieved:\n{{$json.retrieved_context}}\n\nIdentify the top 6–10 behavioral abuse patterns. Focus on patterns that are repeatable, systematic, and suggest policy gaps rather than random isolated incidents.\n\nAssign severity_score, frequency_signal, and confidence_rationale.\n\nRespond only with valid JSON.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a trust and safety analyst specializing in ecommerce refund abuse and return fraud detection. You analyze investigation notes and behavioral signals to identify patterns of systematic policy exploitation.\n\nThink like a PM: your output helps decide whether fraud patterns are worth building a product solution for, or whether they represent isolated cases. Prioritize patterns that are systemic and high-frequency.\n\nRules:\n- Use ONLY the evidence provided.\n- Themes must describe the behavioral pattern specifically (e.g. \"Same customer claims missing item across 5+ orders from different addresses\" not \"fraud\").\n- severity_score: 0.0–1.0. High if pattern is systemic, high-volume, or results in significant financial loss.\n- frequency_signal: estimated % of records showing this abuse pattern.\n- confidence_rationale: one sentence.\n- evidence_examples: 3 snippets from different investigation records (≤120 chars).\n\nReturn ONLY valid JSON with these exact keys:\nlane, namespace, evidence_count, themes, severity_score, frequency_signal, confidence_rationale, notes, evidence_examples\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "ed1529d2-80ca-451b-99a2-2a3c6b13e2c3",
      "name": "RAG LLM Fraud",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3840,
        -244
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lane: {{$json.lane}}\nNamespace: {{$json.namespace}}\nEvidence count: {{$json.evidence_count}}\n\nCustomer reviews retrieved:\n{{$json.retrieved_context}}\n\nIdentify the top 6–10 recurring complaint patterns in these reviews. Weight patterns that appear across many different customers more heavily than one-off issues. Flag any that involve safety, misleading listings, or product failure within days of purchase.\n\nAssign severity_score, frequency_signal, and confidence_rationale.\n\nRespond only with valid JSON.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a marketplace product intelligence analyst. You specialize in detecting patterns in customer reviews that indicate systemic product failures, misleading listings, or recurring quality problems.\n\nThink like a PM reading 1-star reviews to find patterns worth fixing — not individual complaints, but clusters of the same problem appearing across different customers.\n\nRules:\n- Use ONLY the evidence provided.\n- Themes must be specific (e.g. \"Product description does not match color/size received\" not \"wrong product\").\n- severity_score: 0.0–1.0. High if the problem recurs across many reviews or signals financial/safety risk.\n- frequency_signal: estimated % of retrieved reviews showing this theme.\n- confidence_rationale: one sentence.\n- evidence_examples: 3 direct snippets from different reviews (≤120 chars each).\n\nReturn ONLY valid JSON with these exact keys:\nlane, namespace, evidence_count, themes, severity_score, frequency_signal, confidence_rationale, notes, evidence_examples\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "a52f5a40-89da-4216-a7b0-d153d2504f0f",
      "name": "RAG LLM Reviews",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3488,
        -436
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lane: {{$json.lane}}\nNamespace: {{$json.namespace}}\nEvidence count: {{$json.evidence_count}}\n\nCRM conversation transcripts retrieved:\n{{$json.retrieved_context}}\n\nAnalyze these customer-agent conversations. Identify the top 6–10 recurring problems. Flag issues that required multiple contacts or resulted in unresolved outcomes — these are the highest-severity signals.\n\nAssign severity_score, frequency_signal, and confidence_rationale.\n\nRespond only with valid JSON.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a senior customer experience analyst specializing in ecommerce support operations. You analyze customer-agent conversations to surface systemic product and service failures — the kind that generate repeated contact, escalations, and unresolved complaints.\n\nThink like a PM: your output will be used to determine which problems are worth solving next quarter. Prioritize issues that appear across many conversations, not one-off anomalies.\n\nRules:\n- Use ONLY the evidence provided.\n- Multiple chunks from the same conversation = one evidence item.\n- Themes must be specific and actionable (e.g. \"Refund not issued after 14 days despite agent promise\" not \"refund delay\").\n- severity_score: 0.0–1.0. High if the issue causes repeated contact or unresolved customer harm.\n- frequency_signal: estimated % of retrieved records showing this theme.\n- confidence_rationale: one sentence per output explaining confidence.\n- evidence_examples: 3 verbatim/near-verbatim snippets from different conversations (≤120 chars).\n\nReturn ONLY valid JSON with these exact keys:\nlane, namespace, evidence_count, themes, severity_score, frequency_signal, confidence_rationale, notes, evidence_examples\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "64bf27c3-c49e-4411-afd0-9b87831397d5",
      "name": "RAG LLM CRM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3136,
        -628
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lane: {{$json.lane}}\nNamespace: {{$json.namespace}}\nEvidence count: {{$json.evidence_count}}\n\nReturn records retrieved:\n{{$json.retrieved_context}}\n\nAnalyze these return records. Identify the top 6–10 specific failure patterns driving returns. For each theme, assess how widespread it is and how severe the customer impact is.\n\nAssign an overall severity_score (0.0–1.0) for this lane, a frequency_signal (% of records showing dominant themes), and a one-line confidence_rationale.\n\nRespond only with valid JSON.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a senior returns operations analyst at a large ecommerce marketplace. You have deep expertise in identifying root causes of product returns — from manufacturing defects to listing inaccuracies to fulfillment failures.\n\nYour job is to analyze return records and extract the most impactful, specific, and actionable failure patterns that a Returns PM would need to solve in a press release.\n\nThink like a PM: prioritize problems by how widespread they are, how severe the customer impact is, and whether the problem is systemic (recurring across many records) versus isolated.\n\nRules:\n- Use ONLY the evidence provided. Do not invent data.\n- Multiple chunks from the same record = one evidence item.\n- Themes must be specific and failure-oriented (e.g. \"Product fails within 7 days of delivery\" not \"quality issue\").\n- severity_score: 0.0–1.0. High if widespread AND causes customer harm or financial loss.\n- frequency_signal: estimated % of retrieved records showing this theme (rough).\n- confidence_rationale: one sentence explaining why you are confident in each theme.\n- evidence_examples: 3 verbatim or near-verbatim snippets from different records (≤120 chars each).\n\nReturn ONLY valid JSON with these exact keys:\nlane, namespace, evidence_count, themes, severity_score, frequency_signal, confidence_rationale, notes, evidence_examples\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "225a4889-1eec-4030-a6c1-8a1c0ee41bee",
      "name": "RAG LLM Returns",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3136,
        -1028
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nconst chunks = items\n  .filter((item) => {\n    const meta = item.json.document?.metadata || {};\n    const key = `${meta.lane}|${meta.namespace}|${meta.row_number}`;\n\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .map((item, idx) => {\n    const doc = item.json.document || {};\n    const meta = doc.metadata || {};\n    const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n\n    if (!text) return '';\n\n    return `[${idx + 1}]\nFraud Investigation Context:\n${text}`;\n  })\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    lane: 'fraud',\n    namespace: 'RAG4',\n    natural_query: $item(0).$node[\"Config Ingest\"].json[\"fraud_query\"],\n    evidence_count: chunks.length,\n    retrieved_context: chunks.join('\\n\\n')\n  }\n}];"
      },
      "id": "5095bc5a-b930-4aa5-bafe-beaea9eb6fed",
      "name": "Format Retrieved Context Fraud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        -244
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const master = $json || {};\n\n// Prefer parsed master object if available\nlet raw = {};\nif (master.raw_master_json_obj && typeof master.raw_master_json_obj === 'object') {\n  raw = master.raw_master_json_obj;\n} else if (master.raw_master_json) {\n  try {\n    raw = typeof master.raw_master_json === 'string'\n      ? JSON.parse(master.raw_master_json)\n      : master.raw_master_json;\n  } catch (e) {\n    raw = master.raw_master_json || {};\n  }\n}\n\n// Helpers\nconst safeArr = (v) => {\n  if (!v) return [];\n  if (Array.isArray(v)) {\n    return v\n      .map((x) => {\n        if (x == null) return '';\n        if (typeof x === 'string') return x.trim();\n        return String(x).trim();\n      })\n      .filter(Boolean);\n  }\n  if (typeof v === 'string') {\n    return v.split(/\\s*\\|\\s*|\\n/).map(s => s.trim()).filter(Boolean);\n  }\n  return [String(v).trim()].filter(Boolean);\n};\n\nconst unique = (arr) => [...new Set((arr || []).filter(Boolean))];\n\nconst normalizePriorityIssue = (issue) => {\n  if (!issue) return null;\n\n  if (typeof issue === 'string') {\n    return {\n      title: issue.trim(),\n      confidence_score: null,\n      grounded_score: null,\n      event_count: null,\n      supporting_lanes: [],\n      driving_themes: []\n    };\n  }\n\n  if (typeof issue === 'object') {\n    return {\n      title: String(issue.title || issue.problem || issue.issue || '').trim(),\n      confidence_score:\n        issue.confidence_score != null ? Number(issue.confidence_score) :\n        issue.confidence != null ? Number(issue.confidence) :\n        null,\n      grounded_score:\n        issue.grounded_score != null ? Number(issue.grounded_score) :\n        issue.grounded != null ? Number(issue.grounded) :\n        null,\n      event_count:\n        issue.event_count != null ? Number(issue.event_count) :\n        issue.events != null ? Number(issue.events) :\n        issue.evidence_count != null ? Number(issue.evidence_count) :\n        null,\n      supporting_lanes: safeArr(issue.supporting_lanes || issue.sources || issue.lanes),\n      driving_themes: safeArr(issue.driving_themes || issue.drivers || issue.themes).slice(0, 4)\n    };\n  }\n\n  return null;\n};\n\n// lane summaries: prefer structured top-level, then raw\nconst laneSummaries = Array.isArray(master.lane_summaries) && master.lane_summaries.length\n  ? master.lane_summaries\n  : Array.isArray(raw.lane_summaries)\n    ? raw.lane_summaries\n    : [];\n\n// normalize lane summaries\nconst normalizedLaneSummaries = laneSummaries.map(ls => ({\n  lane: String(ls.lane || ls.laneName || '').trim(),\n  namespace: String(ls.namespace || '').trim(),\n  evidence_count: Number(ls.evidence_count ?? ls.evidencecount ?? 0) || 0,\n  top_themes: Array.isArray(ls.top_themes)\n    ? ls.top_themes.map(String).filter(Boolean)\n    : (Array.isArray(ls.themes) ? ls.themes.map(String).filter(Boolean) : safeArr(ls.top_themes || ls.themes)),\n  notes: String(ls.notes || ''),\n  evidence_examples: Array.isArray(ls.evidence_examples)\n    ? ls.evidence_examples.map(String).filter(Boolean)\n    : safeArr(ls.evidence_examples || [])\n}));\n\nconst totalEvents = Number(\n  master.total_events_analyzed ??\n  master.total_events ??\n  normalizedLaneSummaries.reduce((s, l) => s + (Number(l.evidence_count) || 0), 0)\n) || 0;\n\n// priorities: normalize to object form\nlet prioritiesRaw = Array.isArray(raw.priority_issues) && raw.priority_issues.length\n  ? raw.priority_issues.slice()\n  : Array.isArray(master.priority_issues) && master.priority_issues.length\n    ? master.priority_issues.slice()\n    : [];\n\nif (!prioritiesRaw.length) {\n  const themeCounts = {};\n  normalizedLaneSummaries.forEach(ls => {\n    (ls.top_themes || []).forEach(t => {\n      themeCounts[t] = (themeCounts[t] || 0) + (ls.evidence_count || 1);\n    });\n  });\n\n  prioritiesRaw = Object.entries(themeCounts)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 5)\n    .map(x => ({\n      title: x[0],\n      confidence_score: null,\n      grounded_score: null,\n      event_count: x[1],\n      supporting_lanes: [],\n      driving_themes: [x[0]]\n    }));\n}\n\nlet priorities = prioritiesRaw\n  .map(normalizePriorityIssue)\n  .filter(p => p && p.title);\n\nconst seenTitles = new Set();\npriorities = priorities.filter(p => {\n  const key = p.title.toLowerCase().trim();\n  if (!key || seenTitles.has(key)) return false;\n  seenTitles.add(key);\n  return true;\n}).slice(0, 5);\n\n// follow-up questions\nlet followUpQuestions = Array.isArray(master.follow_up_questions) && master.follow_up_questions.length\n  ? master.follow_up_questions.slice(0, 4).map(String)\n  : Array.isArray(raw.follow_up_questions) && raw.follow_up_questions.length\n    ? raw.follow_up_questions.slice(0, 4).map(String)\n    : [];\n\nlet staticQuestions = master.static_questions && typeof master.static_questions === 'object'\n  ? master.static_questions\n  : raw.static_questions && typeof raw.static_questions === 'object'\n    ? raw.static_questions\n    : null;\n\nif (!staticQuestions) {\n  staticQuestions = {\n    question_1: followUpQuestions[0] || '',\n    question_2: followUpQuestions[1] || '',\n    question_3: followUpQuestions[2] || '',\n    question_4: followUpQuestions[3] || ''\n  };\n}\n\nif (!followUpQuestions.length) {\n  followUpQuestions = [\n    staticQuestions.question_1 || '',\n    staticQuestions.question_2 || '',\n    staticQuestions.question_3 || '',\n    staticQuestions.question_4 || ''\n  ].filter(Boolean).slice(0, 4);\n}\n\nfunction aggregateForPriority(priorityObj) {\n  const pTitle = String(priorityObj.title || '').toLowerCase();\n  const driversSet = new Set(safeArr(priorityObj.driving_themes));\n  const sourcesSet = new Set(safeArr(priorityObj.supporting_lanes));\n  let supportingCount = Number(priorityObj.event_count || 0) || 0;\n  const evidenceSamples = [];\n\n  normalizedLaneSummaries.forEach(ls => {\n    const laneName = String(ls.lane || '').toLowerCase();\n    const laneIsExplicitSupport = safeArr(priorityObj.supporting_lanes).map(x => x.toLowerCase()).includes(laneName);\n\n    const themeMatches = (ls.top_themes || []).filter(t => {\n      const tl = String(t || '').toLowerCase();\n      if (!tl || !pTitle) return false;\n      return (\n        tl.includes(pTitle) ||\n        pTitle.includes(tl) ||\n        tl.split(' ').some(w => w && pTitle.includes(w))\n      );\n    });\n\n    if (laneIsExplicitSupport || themeMatches.length > 0) {\n      if (!safeArr(priorityObj.supporting_lanes).length) {\n        sourcesSet.add(ls.lane || '');\n      }\n\n      if (!(Number(priorityObj.event_count || 0) > 0)) {\n        supportingCount += (ls.evidence_count || 0);\n      }\n\n      themeMatches.forEach(m => driversSet.add(m));\n\n      if (ls.evidence_examples && ls.evidence_examples.length) {\n        ls.evidence_examples.slice(0, 3).forEach(sn => {\n          evidenceSamples.push({\n            lane: ls.lane,\n            namespace: ls.namespace,\n            snippet: String(sn).slice(0, 120)\n          });\n        });\n      } else if (ls.notes && !ls.notes.includes('\"natural_query\"')) {\n        evidenceSamples.push({\n          lane: ls.lane,\n          namespace: ls.namespace,\n          snippet: String(ls.notes).slice(0, 120)\n        });\n      }\n    }\n  });\n\n  return {\n    drivers: Array.from(driversSet).filter(Boolean).slice(0, 4),\n    sources: Array.from(sourcesSet).filter(Boolean),\n    supportingCount,\n    evidenceSamples: evidenceSamples.slice(0, 5)\n  };\n}\n\n// build insights\nlet insights = priorities.map((p, i) => {\n  const agg = aggregateForPriority(p);\n\n  const events =\n    p.event_count != null && !Number.isNaN(Number(p.event_count))\n      ? Number(p.event_count)\n      : (agg.supportingCount || (totalEvents > 0 ? Math.max(1, Math.round(totalEvents / Math.max(1, priorities.length))) : 0));\n\n  let summary = '';\n  const combinedSummary = master.overall_summary || raw.overall_summary || '';\n  if (combinedSummary && typeof combinedSummary === 'string') {\n    const idx = combinedSummary.toLowerCase().indexOf(p.title.toLowerCase());\n    if (idx >= 0) {\n      const start = Math.max(0, idx - 60);\n      summary = combinedSummary.slice(start, Math.min(combinedSummary.length, idx + 180)).trim();\n    }\n  }\n\n  if (!summary) {\n    const driversText = agg.drivers.length ? agg.drivers.slice(0, 2).join(', ') : 'related issues';\n    summary = `${p.title} appearing across ${agg.sources.length || 1} source(s); drivers: ${driversText}.`;\n  }\n\n  const confidence =\n    p.confidence_score != null\n      ? Number(p.confidence_score)\n      : Number((master.confidence ?? 0.85));\n\n  const grounded =\n    p.grounded_score != null\n      ? Number(p.grounded_score)\n      : Number((master.grounded_score ?? 0.9));\n\n  return {\n    rank: i + 1,\n    title: p.title,\n    confidence,\n    grounded_score: grounded,\n    events,\n    sources: agg.sources,\n    drivers: agg.drivers,\n    evidence_sample: agg.evidenceSamples,\n    summary\n  };\n});\n\n// post-processing\nconst total = Number(totalEvents || 0);\n\ninsights.forEach(ins => {\n  if (total > 0 && ins.events > total) {\n    ins.events = Math.min(ins.events, total);\n    ins.note_overlap = 'events may overlap with other insights; counts capped to total_events_analyzed';\n  }\n\n  if (!(ins.grounded_score > 0)) {\n    const support = ins.events || 0;\n    ins.grounded_score = Number(Math.min(0.99, (support / Math.max(1, total)) + 0.15).toFixed(2));\n  }\n\n  if (!(ins.confidence > 0)) {\n    const laneCount = (ins.sources && ins.sources.length) ? ins.sources.length : 0;\n    const evidenceBonus = (ins.evidence_sample && ins.evidence_sample.length > 1) ? 0.05 : 0;\n    ins.confidence = Number(Math.min(0.98, 0.6 + (0.08 * laneCount) + evidenceBonus).toFixed(2));\n  }\n});\n\nconst merged = [];\nconst seen = [];\n\ninsights.forEach(ins => {\n  const norm = String(ins.title || '').toLowerCase().replace(/[^a-z0-9 ]/g, '').trim();\n\n  const foundIndex = seen.findIndex(s => {\n    const sWords = s.split(' ').filter(Boolean);\n    const nWords = norm.split(' ').filter(Boolean);\n    const overlap = nWords.filter(w => sWords.includes(w)).length;\n    return overlap / Math.max(nWords.length, 1) > 0.5 || s.includes(norm) || norm.includes(s);\n  });\n\n  if (foundIndex >= 0) {\n    const ex = merged[foundIndex];\n    ex.events = Math.min(total || (ex.events + ins.events), (ex.events || 0) + (ins.events || 0));\n    ex.sources = Array.from(new Set([...(ex.sources || []), ...(ins.sources || [])]));\n    ex.drivers = Array.from(new Set([...(ex.drivers || []), ...(ins.drivers || [])]));\n    ex.evidence_sample = (ex.evidence_sample || []).concat(ins.evidence_sample || []).slice(0, 5);\n\n    if (!String(ex.summary || '').includes(String(ins.summary || ''))) {\n      ex.summary = `${ex.summary} ${ins.summary}`.trim().slice(0, 300);\n    }\n\n    ex.confidence = Number(Math.min(0.98, ((Number(ex.confidence || 0) + Number(ins.confidence || 0)) / 2)).toFixed(2));\n    ex.grounded_score = Number(Math.min(0.99, ((Number(ex.grounded_score || 0) + Number(ins.grounded_score || 0)) / 2)).toFixed(2));\n  } else {\n    seen.push(norm);\n    merged.push(JSON.parse(JSON.stringify(ins)));\n  }\n});\n\nmerged.sort((a, b) => (b.events || 0) - (a.events || 0));\nmerged.forEach((m, i) => m.rank = i + 1);\n\nconst finalInsights = merged.slice(0, 5);\n\nconst payload = {\n  job_id: master.request_id || master.job_id || `signal-${Date.now()}`,\n  status: 'completed',\n  generated_at: new Date().toISOString(),\n  time_range: master.time_window || '7d',\n  total_events_analyzed: totalEvents,\n  signals_used: unique(normalizedLaneSummaries.map(l => l.lane)).filter(Boolean),\n  insights: finalInsights,\n  lane_summaries: normalizedLaneSummaries,\n  follow_up_questions: followUpQuestions,\n  static_questions: staticQuestions,\n  raw_master_json: raw\n};\n\nreturn [{ json: payload }];\n"
      },
      "id": "73e88f81-d862-48b6-8636-949902df07e8",
      "name": "Format Signal API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        -512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "467f7e9c-88c6-4cb0-9c33-fb3af42d1def",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5792,
        -512
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1807706849,
          "mode": "list",
          "cachedResultName": "Raw_SQL_Returns",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=1807706849"
        },
        "options": {}
      },
      "id": "31a43017-1fc4-4efd-9279-5520db722fc0",
      "name": "Read Returns Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -96,
        -952
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 267245602,
          "mode": "list",
          "cachedResultName": "CRM_Transcripts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=267245602"
        },
        "options": {}
      },
      "id": "4c3ced19-6b57-423b-9e13-db04355b97fc",
      "name": "Read CRM Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -96,
        -516
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 145959029,
          "mode": "list",
          "cachedResultName": "VoC_Reviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=145959029"
        },
        "options": {}
      },
      "id": "df3e13e3-dd6e-40b0-b65d-28386fe7e09f",
      "name": "Read Reviews Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        128,
        24
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 304167556,
          "mode": "list",
          "cachedResultName": "Fraud_Abuse",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=304167556"
        },
        "options": {}
      },
      "id": "fb258643-4919-4c4e-9e1e-738f606d0d9d",
      "name": "Read Fraud Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        352,
        456
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1372932066,
          "mode": "list",
          "cachedResultName": "NPS_FeatureBoards",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y/edit#gid=1372932066"
        },
        "options": {}
      },
      "id": "ec314c44-1d20-4ee1-ae8a-cab7fa4daad8",
      "name": "Read NPS Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        576,
        872
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-received",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2272,
        1808
      ],
      "id": "2935715a-86c9-4d50-8ce6-50d02fab4a43",
      "name": "Webhook",
      "webhookId": "61ef4805-c3f4-4307-940a-a7d270c48f86"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst name = String(body.name ?? '').trim();\nconst email = String(body.email ?? '').trim();\nconst tag = String(body.tag ?? '').trim();\nconst description = String(body.description ?? '').trim();\nconst page = String(body.page ?? 'ai-insights').trim();\nconst submittedAt = String(body.submitted_at ?? new Date().toISOString());\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst valid = Boolean(name && emailRegex.test(email) && tag);\nreturn [{\n  json: {\n    name,\n    email,\n    tag,\n    description,\n    page,\n    submitted_at: submittedAt,\n    valid\n  }\n}];"
      },
      "id": "b3fd6ba3-a4ee-4722-9a40-11d5e6ceb749",
      "name": "Prepare Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        1808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "9ad01cf7-8c64-4f75-96e3-9f86cf97a666",
      "name": "Required Fields?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2720,
        1808
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=SIGNAL Feedback | {{$json.tag}} | {{$json.name}}",
        "emailType": "text",
        "message": "=New SIGNAL feedback received\n\nA new feedback submission was sent from the SIGNAL product interface.\n\nSubmission Summary\n------------------\nCategory: {{$json.tag}}\nSubmitted At: {{$json.submitted_at}}\nPage / Section: {{$json.page || 'ai-insights'}}\n\nUser Details\n------------\nName: {{$json.name}}\nEmail: {{$json.email}}\n\nFeedback\n--------\n{{$json.description || 'No description provided.'}}\n\nContext\n-------\nThis message was automatically generated by the SIGNAL feedback workflow.\n",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "6ff859e8-972c-46fe-b197-4580ee50e7b3",
      "name": "Gmail Send Feedback",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2944,
        1712
      ],
      "webhookId": "c45527cc-fc38-427c-abc0-93c8dbeb0409",
      "credentials": {
        "gmailOAuth2": {
          "id": "wHoHsvhZrZwvFAiH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true,\"message\":\"Feedback received\"}",
        "options": {}
      },
      "id": "cd1a295e-a3c5-4958-923b-30a3ebb0f7e5",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3168,
        1712
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"message\":\"Missing or invalid required fields\"}",
        "options": {}
      },
      "id": "a6a13241-9c60-45bb-bf2f-6e31c01f7d7f",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2944,
        1904
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ingest }}",
              "value2": true
            }
          ]
        }
      },
      "id": "5387aadc-1df2-4991-ac79-88162127051b",
      "name": "If Ingest Enabled1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -768,
        -28
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nreturn [{\n  json: {\n    ingest: body.ingest ?? true,\n    time_window: body.time_window ?? \"7d\",\n    max_insights: body.max_insights ?? 5,\n    min_confidence: body.min_confidence ?? 0.6,\n    request_id: body.request_id ?? `signal-${Date.now()}`,\n    callback_url: body.callback_url ?? null\n  }\n}];"
      },
      "id": "ab1cd481-97a7-4558-85ab-4f813ae17604",
      "name": "Parse Webhook Args2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        -28
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signal/run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "284283c7-7da0-4af8-979b-6dd40d9cbd9d",
      "name": "Webhook - Start Signal Run1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1440,
        -28
      ],
      "webhookId": "signal-run"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "spreadsheet_id",
              "value": "[Enter the SpreadSheet ID]"
            },
            {
              "name": "pinecone_query_url",
              "value": "https://[PINECONE_HOST_URL]/query"
            },
            {
              "name": "pinecone_index",
              "value": "[PINECONE_DATABASE_NAME]"
            },
            {
              "name": "returns_query",
              "value": "product received damaged defective wrong item size mismatch description inaccurate manufacturing defect premature failure unusable on arrival"
            },
            {
              "name": "crm_query",
              "value": "refund not processed support unresponsive return label not received resolution delayed agent unable to help repeated contact multiple escalations"
            },
            {
              "name": "reviews_query",
              "value": "product stopped working broke after first use not as described photo misleading quality worse than expected packaging arrived damaged counterfeit"
            },
            {
              "name": "fraud_query",
              "value": "multiple refund requests same account different addresses item not returned but refund claimed high frequency returns no defect found suspicious pattern"
            },
            {
              "name": "nps_query",
              "value": "return process too complicated too many steps refund took too long app crashed during return could not find return option poor post-purchase experience"
            },
            {
              "name": "master_llm_system_prompt",
              "value": "You are the Chief Product Intelligence Officer for Amazon Returns. You are responsible for identifying the five most important problems a Returns PM should solve next quarter.\n\nYou receive structured intelligence from five analytical lanes:\n- returns\n- crm\n- reviews\n- fraud\n- nps\n\nEach lane already contains:\n- evidence_count\n- themes\n- severity_score\n- frequency_signal\n- confidence_rationale\n- evidence_examples\n- notes\n\nYour job:\n1. Synthesize all lane outputs into the TOP 5 most impactful, specific, customer-facing problems.\n2. Prefer problems supported across multiple lanes.\n3. Compute confidence_score, grounded_score, and event_count for each problem using only the lane data provided.\n4. Preserve lane and namespace exactly as given.\n5. Do not use outside knowledge. Do not invent facts.\n\nHow to identify a strong problem:\n- It is specific, not generic.\n- It is customer-facing or operationally meaningful.\n- It appears in multiple lanes OR has high evidence_count in one lane with strong severity.\n- It can plausibly anchor a PR/FAQ problem statement.\n\nProblem statement rules:\n- Write each problem as a clear, specific, customer-facing statement.\n- Good: \"Customers receive products that do not match listing descriptions or images\"\n- Bad: \"Product quality issue\"\n- Avoid vague labels like \"bad UX\", \"quality\", \"support problem\", or \"fraud issue\" unless made specific.\n\nScoring rules:\n\nconfidence_score:\n- Measures certainty that this is a real, meaningful, solve-worthy problem.\n- Start at 0.50\n- Add 0.10 for each supporting lane beyond the first, up to +0.40\n- Add 0.05 if any supporting lane has frequency_signal > 40\n- Add 0.05 if any supporting lane has severity_score > 0.70\n- Cap at 0.98\n- Round to 2 decimals\n\ngrounded_score:\n- Measures how directly the problem is supported by explicit evidence in the lane outputs.\n- Start at 0.40\n- Add 0.15 if there are at least 2 evidence_examples across supporting lanes\n- Add 0.10 for each supporting lane whose evidence_examples or notes directly mention the problem, up to +0.40\n- Add 0.05 if confidence_rationale is present in at least one supporting lane\n- Cap at 0.99\n- Round to 2 decimals\n\nevent_count:\n- Sum evidence_count from all supporting lanes relevant to that problem\n- Round to nearest 10\n\nCross-lane reasoning rules:\n- If different lanes describe the same underlying issue using different wording, unify them into one problem.\n- Prefer systemic failures over isolated incidents.\n- Do not create duplicate problems that are merely different phrasings of the same issue.\n\nReturn ONLY valid JSON.\nNo markdown.\nNo code fences.\nNo explanatory text.\n\nUse exactly these keys:\nreport_title\noverall_summary\npriority_issues\ncross_lane_patterns\nrecommended_actions\nfollow_up_questions\nlane_summaries\n\nRules for each key:\n- report_title: string\n- overall_summary: string\n- priority_issues: array of exactly 5 objects\n- cross_lane_patterns: array of short strings\n- recommended_actions: array of short strings\n- follow_up_questions: array of exactly 4 short natural-language questions, each directly relevant to the generated priority_issues and/or cross_lane_patterns, and each no more than 100 characters including spaces\n- lane_summaries: array of objects\n\nEach priority_issues object must contain exactly:\n- title\n- confidence_score\n- grounded_score\n- event_count\n- supporting_lanes\n- driving_themes\n\nRules for priority_issues objects:\n- title: string\n- confidence_score: number\n- grounded_score: number\n- event_count: number\n- supporting_lanes: array of lane names\n- driving_themes: array of up to 4 short strings\n\nEach lane_summaries object must contain exactly:\n- lane\n- namespace\n- evidence_count\n- top_themes\n- notes\n\nFollow-up question rules:\n- Each question must be directly relevant to the generated priority_issues and/or cross_lane_patterns.\n- Use the questions only as follow-ups to the already generated insights.\n- Do not ask generic questions that could apply to any report.\n- Each question must help investigate a generated insight's root cause, affected journey, spread, impact, ownership, or validation.\n- Every question must be fully written within 100 characters total, including spaces.\n- If a question would exceed 100 characters, rewrite it shorter. Do not truncate awkwardly.\n- Keep the questions specific, concise, and natural.\n- Avoid repeating the same angle across multiple questions.\n\nIf no evidence exists, return:\n- a clear overall_summary explaining that no evidence was found\n- empty arrays for priority_issues, cross_lane_patterns, recommended_actions, follow_up_questions, and lane_summaries\n"
            }
          ]
        },
        "options": {}
      },
      "id": "8d1d6934-bacb-43f6-a16d-26201154e2cb",
      "name": "Config Ingest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -992,
        -28
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signal/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f9d702e0-816f-4dac-8f0f-c9eefa3b6532",
      "name": "Webhook - Start Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1440,
        2368
      ],
      "webhookId": "signal-chat"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst store = $getWorkflowStaticData('global');\nstore.chat_sessions = store.chat_sessions || {};\n\nconst sessionId = String(\n  body.session_id ??\n  body.sessionId ??\n  body.chat_id ??\n  body.chatId ??\n  `chat-${Date.now()}`\n).trim();\n\nconst query = String(\n  body.message ??\n  body.query ??\n  body.prompt ??\n  ''\n).trim();\n\nif (!query) {\n  throw new Error('Missing body.message or body.query');\n}\n\nconst requestedTopK = Number(\n  body.top_k ??\n  body.topK ??\n  8\n);\n\nconst topK =\n  Number.isFinite(requestedTopK) && requestedTopK > 0\n    ? Math.min(requestedTopK, 20)\n    : 8;\n\nconst pineconeIndex = String(\n  body.pinecone_index ??\n  body.pineconeIndex ??\n  'signal-returns-db'\n).trim();\n\nconst savedHistory = Array.isArray(store.chat_sessions[sessionId])\n  ? store.chat_sessions[sessionId]\n  : [];\n\nconst history = savedHistory\n  .map((turn) => ({\n    user: String(turn.user ?? '').trim(),\n    assistant: String(turn.assistant ?? '').trim()\n  }))\n  .filter((turn) => turn.user && turn.assistant)\n  .slice(-14);\n\nconst lastTurn = history.length ? history[history.length - 1] : null;\n\nreturn [{\n  json: {\n    session_id: sessionId,\n    query,\n    top_k: topK,\n    pinecone_index: pineconeIndex,\n    history,\n    last_user_message: lastTurn?.user || '',\n    last_assistant_reply: lastTurn?.assistant || ''\n  }\n}];\n"
      },
      "id": "ce0eb185-cb49-45cc-9526-2a216dff423c",
      "name": "Parse Chat Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        2368
      ]
    },
    {
      "parameters": {},
      "id": "c6b763ed-51b0-4b87-a6f6-989eccbc14ce",
      "name": "Merge Findings A",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -576,
        2048
      ]
    },
    {
      "parameters": {},
      "id": "d04424ee-4777-435b-8c76-42bdb04101ad",
      "name": "Merge Findings B",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -224,
        2144
      ]
    },
    {
      "parameters": {},
      "id": "784df729-e543-48b5-aa04-b3d1fd40dd4c",
      "name": "Merge Findings C",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        128,
        2240
      ]
    },
    {
      "parameters": {},
      "id": "04a48753-400b-4f5b-842c-f531d2f2dfc9",
      "name": "Merge Findings D",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        416,
        2336
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $item(0).$node[\"Parse Chat Request\"].json;\nconst nsToLane = {\n  RAG1: 'returns',\n  RAG2: 'crm',\n  RAG3: 'reviews',\n  RAG4: 'fraud',\n  RAG5: 'nps'\n};\n\nconst grouped = {};\nconst seen = new Set();\n\nfor (const item of items) {\n  const doc = item.json.document || {};\n  const meta = doc.metadata || {};\n  const namespace = String(meta.namespace || item.json.namespace || '').trim();\n  const lane = String(meta.lane || nsToLane[namespace] || 'unknown').trim();\n  const text = String(doc.pageContent || item.json.pageContent || item.json.text || '').trim();\n  const rowNumber = String(meta.row_number || meta.rownumber || '').trim();\n\n  if (!text) continue;\n\n  const key = [lane, namespace, rowNumber, text].join('|');\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  if (!grouped[lane]) grouped[lane] = [];\n  grouped[lane].push({\n    namespace,\n    row_number: rowNumber,\n    text\n  });\n}\n\nconst laneOrder = ['returns', 'crm', 'reviews', 'fraud', 'nps'];\nconst lanesUsed = laneOrder.filter((lane) => Array.isArray(grouped[lane]) && grouped[lane].length > 0);\n\nconst mergedContext = lanesUsed.length\n  ? lanesUsed.map((lane) => {\n      const entries = grouped[lane]\n        .map((entry, idx) => `- [${lane.toUpperCase()} ${idx + 1}] ${entry.text}`)\n        .join('\\n');\n      return `Lane: ${lane}\\n${entries}`;\n    }).join('\\n\\n')\n  : 'No matching evidence found across namespaces.';\n\nreturn [{\n  json: {\n    ...source,\n    lanes_used: lanesUsed,\n    retrieved_count: seen.size,\n    findings_by_lane: grouped,\n    merged_context: mergedContext\n  }\n}];"
      },
      "id": "10cacf73-b516-43d2-a244-476faf8b7630",
      "name": "Format Combined Findings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        2336
      ]
    },
    {
      "parameters": {
        "jsCode": "const getFirst = (...vals) => vals.find(v => v !== undefined && v !== null);\n\nconst sessionId = String(getFirst($json.sessionid, $json.session_id, '')).trim();\nconst query = String(getFirst($json.query, $json.message, '')).trim();\nconst topK = Number(getFirst($json.topk, $json.top_k, 8));\nconst pineconeIndex = String(getFirst($json.pineconeindex, $json.pinecone_index, '')).trim();\n\nconst history = Array.isArray(getFirst($json.history, [])) ? getFirst($json.history, []) : [];\nconst lanesUsedRaw = getFirst($json.lanesused, $json.lanes_used, []);\nconst lanesUsed = Array.isArray(lanesUsedRaw)\n  ? lanesUsedRaw.map(x => String(x).trim()).filter(Boolean)\n  : [];\n\nconst retrievedCount = Number(getFirst($json.retrievedcount, $json.retrieved_count, 0));\nconst findingsByLane = getFirst($json.findingsbylane, $json.findings_by_lane, {});\nconst mergedContext = String(getFirst($json.mergedcontext, $json.merged_context, '')).trim();\n\nconst lastTurn = history.length ? history[history.length - 1] : {};\nconst lastUserMessage = String(getFirst($json.last_user_message, lastTurn.user, '')).trim();\nconst lastAssistantReply = String(getFirst($json.last_assistant_reply, lastTurn.assistant, '')).trim();\n\nconst historyText = history.length\n  ? history\n      .map((turn, idx) => `Turn ${idx + 1}\\nUser: ${String(turn.user || '').trim()}\\nAssistant: ${String(turn.assistant || '').trim()}`)\n      .join('\\n\\n')\n  : 'No prior chat history.';\n\nconst lowerQuery = query.toLowerCase();\n\nconst isBroadSummary =\n  /main|top|biggest|key|major|across all|across sources|patterns|root causes|main customer problems|top issues/.test(lowerQuery);\n\nconst isDiagnostic =\n  /why|which sku|which skus|most affected|what is causing|what causes|reason/.test(lowerQuery);\n\nconst isFormattingRequest =\n  /shorter|shorten|concise|brief|longer|detailed|expand|bullet|bullets|numbered|table|tabular|paragraph|rewrite|rephrase|format|reformat|simplify|executive|leadership|tone/.test(lowerQuery);\n\nconst answerMode = isFormattingRequest\n  ? 'transformation'\n  : isBroadSummary\n    ? 'broad_summary'\n    : isDiagnostic\n      ? 'specific_diagnostic'\n      : 'general_answer';\n\nconst prompt = [\n  `Session ID: ${sessionId || 'unknown'}`,\n  ``,\n  `Answer Mode: ${answerMode}`,\n  ``,\n  `Recent Chat History:`,\n  historyText,\n  ``,\n  `Last User Message: ${lastUserMessage || 'None'}`,\n  `Last Assistant Reply: ${lastAssistantReply || 'None'}`,\n  ``,\n  `Retrieved Findings:`,\n  mergedContext || 'No retrieved evidence found.',\n  ``,\n  `Retrieved Lanes: ${lanesUsed.length ? lanesUsed.join(', ') : 'None'}`,\n  `Retrieved Count: ${Number.isFinite(retrievedCount) ? retrievedCount : 0}`,\n  ``,\n  `User Question: ${query}`,\n  ``,\n  `Instructions:`,\n  `- Answer the user's question directly and clearly.`,\n  `- Match the best tone and structure for this specific user request, but keep the JSON schema unchanged.`,\n  `- If the user gives explicit instructions about format, tone, style, structure, or length, follow those instructions first.`,\n  `- Treat explicit requests like \"shorter\", \"one paragraph\", \"bullets\", \"table\", \"rewrite\", \"detailed\", or \"executive style\" as higher priority than the default format.`,\n  `- Stay grounded in retrieved findings and recent chat history.`,\n  `- Do not invent facts outside the provided evidence.`,\n  `- Keep fraud or abuse findings separate from genuine customer pain unless the evidence explicitly links them.`,\n  `- Use actual line breaks in reply unless the user explicitly asks for one paragraph.`,\n  `- Do not place the full reply in one paragraph unless the user explicitly asks for that format.`,\n  `- If Answer Mode is broad_summary, format reply exactly like this visual shape unless the user requested a different format:`,\n  `  Here are the main customer problems across the available sources:`,\n  ``,\n  `  1. Issue label`,\n  `  One short explanation sentence.`,\n  `  Seen in: lane1, lane2`,\n  ``,\n  `  2. Issue label`,\n  `  One short explanation sentence.`,\n  `  Seen in: lane1, lane2`,\n  ``,\n  `  What this suggests:`,\n  `  - takeaway 1`,\n  `  - takeaway 2`,\n  ``,\n  `  Evidence gaps:`,\n  `  one short limitation line`,\n  ``,\n  `- If Answer Mode is specific_diagnostic, format reply exactly like this visual shape unless the user requested a different format:`,\n  `  Short direct answer sentence.`,\n  ``,\n  `  1. Likely reason`,\n  `  One short explanation sentence.`,\n  `  Seen in: lane1, lane2`,\n  ``,\n  `  2. Most affected products or categories`,\n  `  Only name products explicitly supported by evidence.`,\n  `  Seen in: lane1, lane2`,\n  ``,\n  `  Evidence gaps:`,\n  `  Say clearly if SKU IDs are not present and evidence only supports category-level patterns.`,\n  ``,\n  `- If Answer Mode is transformation, prioritize preserving the meaning of the last relevant answer while applying the user's requested format or length.`,\n  `- Never use inline numbering like \"1. ... 2. ... 3. ...\" in one paragraph unless the user explicitly asks for a single-paragraph format.`,\n  `- Put \"What this suggests:\" on its own line when used, unless the user asked for a different format.`,\n  `- Put each takeaway bullet on its own line beginning with \"- \" when using bullets.`,\n  `- Put \"Evidence gaps:\" on its own line when needed, unless the user requested a different format.`,\n  `- Keep reply concise and easy to scan by default unless the user explicitly asks for more detail.`,\n  `- Return ONLY valid JSON with exactly these keys: reply, issues_found, lanes_used.`,\n  `- issues_found must be an array of up to 5 objects with exactly these keys: issue, summary, lanes.`,\n  `- issue must be a short label.`,\n  `- summary must be one short sentence.`,\n  `- lanes must be an array of short strings.`,\n  `- lanes_used must be an array of short strings.`\n].join('\\n');\n\nreturn [{\n  json: {\n    ...$json,\n    sessionid: sessionId,\n    query,\n    topk: topK,\n    pineconeindex: pineconeIndex,\n    history,\n    last_user_message: lastUserMessage,\n    last_assistant_reply: lastAssistantReply,\n    lanesused: lanesUsed,\n    retrievedcount: retrievedCount,\n    findingsbylane: findingsByLane,\n    mergedcontext: mergedContext,\n    answer_mode: answerMode,\n    prompt\n  }\n}];\n"
      },
      "id": "f3ee6dcf-d15a-4d14-b66c-39e0f8fcc5b8",
      "name": "Build PM Chat Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        2336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are Signal Chat, the built-in conversational assistant inside the Signal product.\n\nYour role:\n- Help Product Managers understand customer issues, patterns, likely root causes, operational risks, and recommended actions.\n- Use retrieved evidence and recent session history when relevant.\n- Behave like a natural in-product chatbot for both analysis questions and follow-up formatting requests.\n- Adapt the tone, structure, and level of detail to the user's specific query.\n\nCore behavior:\n- Be accurate, grounded, concise, and useful.\n- Prefer clear PM-friendly language over jargon.\n- Do not invent facts, causes, products, SKUs, or conclusions that are not supported by the available evidence or recent session context.\n- If evidence is partial, weak, ambiguous, or missing, say so clearly.\n- When multiple sources support the same real-world issue, combine them cleanly instead of repeating them.\n- When sources conflict, acknowledge the uncertainty briefly.\n\nYou support 3 kinds of requests:\n\n1. Evidence-based product questions\nUse retrieved findings first when the user asks about:\n- customer problems\n- complaints\n- pain points\n- patterns\n- trends\n- likely root causes\n- cross-source summaries\n- lane-specific insights\n- recommendations\n- “why is this happening”\n- “what’s driving this”\n- “what are the top issues”\n- “which products or SKUs are most affected”\n\nRules:\n- Stay grounded in retrieved findings and relevant recent chat history.\n- Do not use outside knowledge unless the user is clearly asking a general product-help question unrelated to retrieved evidence.\n- Merge overlapping issues only when they reflect the same real-world problem.\n\n2. Follow-up transformation requests\nIf the user asks to:\n- reformat\n- shorten\n- expand\n- simplify\n- bullet\n- number\n- tabulate\n- rewrite\n- summarize\n- restyle\n- convert to executive tone\n- convert to one paragraph\n- make it detailed\n- make it concise\n- use headings\n- turn the previous answer into another format\n\nThen:\n- Treat it as a transformation request unless the user clearly asks for fresh analysis.\n- Reuse the recent session history and especially the last assistant reply when appropriate.\n- Preserve the meaning of the prior answer unless the user explicitly asks to change interpretation, emphasis, or depth.\n- Do not force a new evidence analysis if the user mainly wants presentation changes.\n\n3. General Signal chatbot requests\nIf the user asks what Signal does, how to use it, what kinds of questions it can answer, or other product-help questions:\n- Answer naturally as the assistant inside the tool.\n- Be truthful.\n- Do not invent unavailable features, hidden capabilities, or unsupported behavior.\n\nUser instruction priority rules:\n- If the user gives explicit instructions about format, structure, tone, style, verbosity, or length, follow those instructions first.\n- Examples: “make it shorter”, “one paragraph”, “give bullet points”, “use a table”, “rewrite for leadership”, “make it detailed”, “keep it to 3 bullets”, “format better”, “explain simply”.\n- When the user gives explicit formatting or length instructions, treat the request as a transformation or presentation request unless they clearly ask for new analysis.\n- Preserve meaning and evidence grounding unless the user explicitly asks for a different interpretation.\n- Default formatting rules apply only when the user has not asked for a specific format or length.\n- Never ignore explicit user instructions just to follow the default house style.\n- If the user asks for extreme brevity, prioritize brevity while staying useful.\n- If the user asks for more depth, expand while staying easy to scan and evidence-grounded.\n- Explicit user requests about formatting, structure, or length override the default presentation style, but not the required JSON keys.\n\nEvidence interpretation rules:\n- Prioritize genuine customer pain, product issues, service friction, and operational problems directly supported by customer-facing evidence.\n- Treat fraud, abuse, policy violations, suspicious refund behavior, account linking, refund manipulation, and similar signals as a separate class of issues.\n- Do NOT merge fraud or abuse signals into customer pain issues unless the evidence explicitly links them to the same underlying real-world problem.\n- If fraud evidence reflects platform risk rather than customer dissatisfaction, present it separately as operational risk, suspicious behavior, or abuse pattern.\n- Returns, reviews, CRM, and NPS usually represent customer experience signals.\n- Fraud usually represents platform or policy risk signals.\n- When in doubt, keep fraud separate rather than over-merging it with customer pain.\n\nSKU and product naming rules:\n- If the user asks which SKUs or products are most affected, only name SKUs or products explicitly supported by the evidence.\n- If SKU IDs are not present, say clearly that the evidence supports product-level or category-level patterns, not SKU-level ranking.\n- Do not fabricate SKU codes or rank products without direct support.\n\nReasoning rules:\n- Answer the user’s actual question, not just the general topic.\n- For “why” questions, explain the most likely evidence-backed reasons first.\n- For “what are the main issues” questions, prioritize the most repeated or best-supported problems.\n- For “what should we do” questions, turn the evidence into clear PM-relevant actions.\n- For follow-up formatting requests, focus on transformation quality rather than re-analysis.\n\nTone rules:\n- Sound like a smart, practical PM/copilot.\n- Be clear, calm, direct, and useful.\n- Avoid robotic phrasing.\n- Avoid excessive hedging, but do not overstate confidence.\n- Match the tone to the query: concise for direct asks, more structured for analytical asks, more polished for leadership-style rewrites.\n- When the user asks for a specific tone, follow it.\n\nStructure rules for reply:\n- Choose the best structure for the specific query.\n- Make reply easy to scan in a chat UI.\n- Use real line breaks unless the user explicitly asks for a single paragraph.\n- Start with a short direct answer sentence unless the user requests a different structure.\n- Default to concise output unless the user asks for more detail.\n\nDefault structure by query type:\n\nA) Broad summary questions\nExamples:\n- “What are the main customer problems?”\n- “What are the top issues across all sources?”\n- “What patterns are emerging?”\n- “What are the likely root causes?”\n\nDefault format:\n1. Short direct-answer sentence.\n2. Numbered list with 4 to 5 items max unless evidence is clearly smaller.\n3. Each item should normally use this structure:\n\n1. Short issue label\nOne short explanation sentence.\nSeen in: lane1, lane2\n\n4. Add “What this suggests:” with 2 to 4 concise bullets when useful.\n5. Add “Evidence gaps:” only when needed.\n\nB) Specific diagnostic questions\nExamples:\n- “Why is this happening?”\n- “Which products are most affected?”\n- “Why are customers reporting mismatches?”\n- “Which SKUs are most impacted?”\n\nDefault format:\n1. One short direct-answer sentence.\n2. 2 to 4 concise evidence-backed points or numbered items.\n3. Mention affected products or categories only if directly supported.\n4. Add one short evidence limitation line if needed.\n\nC) Transformation requests\nExamples:\n- “Make this shorter”\n- “Turn this into bullets”\n- “Rewrite for leadership”\n- “Put this in one paragraph”\n\nDefault format:\n- Follow the user’s requested format exactly as closely as possible.\n- Reuse the meaning of the prior answer.\n- Keep the same evidence grounding unless the user asks for reinterpretation.\n\nFormatting rules:\n- Do not produce giant walls of text unless the user explicitly asks for a long-form response.\n- Keep each point compact.\n- Use bullets or numbering when they improve readability.\n- Use headings only when they help and the user has not asked for a minimal format.\n- Do not use markdown tables unless the user explicitly asks for a table or a table is clearly the best fit.\n- If the user asks for a paragraph summary, provide a paragraph summary.\n- If the user asks for bullets instead of numbering, use bullets.\n- If the user asks for a one-line answer, keep it one line if possible.\n- If the user asks for executive style, make it tighter, more synthesized, and action-oriented.\n\nContent rules:\n- Do not dump raw evidence unless the user explicitly asks for quotes, examples, or supporting details.\n- Do not include unnecessary repetition across points.\n- Do not include operational speculation that is not supported by the evidence.\n- Do not present inferred issues as confirmed facts without appropriate caution.\n- If evidence is weak for one point, either omit it or label it as limited/inferred.\n\nissues_found rules:\n- issues_found is for structured UI use, not prose.\n- issues_found must always be an array.\n- For evidence-based answers, include up to 5 objects.\n- Each object must contain exactly these keys:\n  issue\n  summary\n  lanes\n- issue must be a short label.\n- summary must be one short sentence.\n- lanes must be an array of short lane names.\n- Merge duplicates only when they represent the same real-world problem.\n- Keep fraud-related issues separate unless the evidence explicitly supports merging them.\n\nlanes_used rules:\n- lanes_used must always be an array.\n- Include only the lanes actually used in the answer when relevant.\n- For transformation requests based mostly on prior conversation, lanes_used may reuse relevant prior lanes or be [] if no lane attribution is needed.\n\nOutput rules:\n- Return ONLY valid JSON.\n- Return exactly these keys:\n  reply\n  issues_found\n  lanes_used\n- reply must always be a string.\n- issues_found must always be an array.\n- lanes_used must always be an array.\n- Do not include any keys other than reply, issues_found, lanes_used.\n- Do not wrap JSON in markdown.\n- Do not wrap JSON in code fences.\n\nQuality bar:\n- Give the best possible answer for the specific query.\n- Optimize for clarity, relevance, evidence discipline, and usability inside a chat product.\n- Prefer the structure and tone that best fits the user’s request, while preserving the required JSON output contract.\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "80ee74d4-37bc-4532-bf4f-252d3f4939ad",
      "name": "PM Chat Reply Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1088,
        2336
      ]
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1",
        "options": {}
      },
      "id": "66281c2d-0c5e-41fe-a6fd-461167febde0",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1168,
        2560
      ],
      "credentials": {
        "openRouterApi": {
          "id": "b5R2CZo1ex5fWzCy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('Build PM Chat Prompt').first().json;\nconst store = $getWorkflowStaticData('global');\nstore.chat_sessions = store.chat_sessions || {};\n\nconst getFirst = (...vals) => vals.find(v => v !== undefined && v !== null);\n\nconst sessionId = String(getFirst(source.sessionid, source.session_id, '')).trim();\nconst query = String(getFirst(source.query, source.message, '')).trim();\nconst history = Array.isArray(getFirst(source.history, [])) ? getFirst(source.history, []) : [];\nconst sourceLanes = getFirst(source.lanesused, source.lanes_used, []);\nconst topK = Number(getFirst(source.topk, source.top_k, 8));\nconst retrievedCount = Number(getFirst(source.retrievedcount, source.retrieved_count, 0));\nconst answerMode = String(getFirst(source.answer_mode, '')).trim();\n\nlet candidate = $json.text ?? $json.response ?? $json.output ?? $json.message ?? $json.content;\nif (typeof candidate !== 'string') {\n  candidate = JSON.stringify(candidate ?? {});\n}\n\nlet cleaned = String(candidate).trim();\nif (cleaned.startsWith('```json')) {\n  cleaned = cleaned.replace(/^```json/i, '').replace(/```$/i, '').trim();\n} else if (cleaned.startsWith('```')) {\n  cleaned = cleaned.replace(/^```/i, '').replace(/```$/i, '').trim();\n}\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = null;\n}\n\nconst lowerQuery = query.toLowerCase();\n\nconst wantsSingleParagraph =\n  /one paragraph|single paragraph|in a paragraph|single para|one para/.test(lowerQuery);\n\nconst wantsBulletsOnly =\n  /bullet points only|bullets only|only bullets|bullet points|bullets\\b/.test(lowerQuery) &&\n  !/numbered|numbers|number list|ordered list/.test(lowerQuery);\n\nconst wantsTable =\n  /table|tabular|in a table|as a table/.test(lowerQuery);\n\nfunction formatReply(text) {\n  let t = String(text || '').trim();\n  t = t.replace(/\\r\\n/g, '\\n').trim();\n\n  if (!t) return t;\n\n  if (wantsTable) {\n    return t.replace(/\\n{3,}/g, '\\n\\n').trim();\n  }\n\n  if (wantsSingleParagraph) {\n    return t.replace(/\\n+/g, ' ').replace(/[ \\t]+/g, ' ').trim();\n  }\n\n  if (wantsBulletsOnly) {\n    t = t.replace(/[ \\t]+/g, ' ');\n    t = t.replace(\n      /(Here are the main customer problems across the available sources:|The main customer problems are:)/gi,\n      ''\n    );\n    t = t.replace(/\\s+(\\d+\\.\\s)/g, '\\n$1');\n    t = t.replace(/^\\d+\\.\\s+/gm, '- ');\n    t = t.replace(/\\n\\d+\\.\\s+/g, '\\n- ');\n    t = t.replace(/\\s+(Seen in:\\s*[^\\n]+)/gi, '\\n  $1');\n    t = t.replace(/\\s+(What this suggests:)/gi, '\\n\\n$1');\n    t = t.replace(/\\s+(Evidence gaps:)/gi, '\\n\\n$1');\n    t = t.replace(/\\s+-\\s+/g, '\\n- ');\n    t = t.replace(/:\\s+-/g, ':\\n- ');\n    t = t.replace(/\\n{3,}/g, '\\n\\n');\n    return t.trim();\n  }\n\n  t = t.replace(/[ \\t]+/g, ' ');\n  t = t.replace(\n    /(Here are the main customer problems across the available sources:|The main customer problems are:)/gi,\n    '$1\\n\\n'\n  );\n  t = t.replace(/\\s+(\\d+\\.\\s)/g, '\\n\\n$1');\n  t = t.replace(/\\s+(Seen in:\\s*[^\\n]+)/gi, '\\n$1');\n  t = t.replace(/\\s+(What this suggests:)/gi, '\\n\\n$1');\n  t = t.replace(/\\s+(Evidence gaps:)/gi, '\\n\\n$1');\n  t = t.replace(/\\s+-\\s+/g, '\\n- ');\n  t = t.replace(/:\\s+-/g, ':\\n- ');\n  t = t.replace(/\\n{3,}/g, '\\n\\n');\n\n  return t.trim();\n}\n\nconst rawReply = String(parsed?.reply ?? cleaned ?? 'I could not generate a reply.').trim();\nconst reply = formatReply(rawReply);\n\nlet issuesFound = getFirst(parsed?.issues_found, parsed?.issuesfound, []);\nif (!Array.isArray(issuesFound)) issuesFound = [];\n\nissuesFound = issuesFound\n  .map((x) => {\n    const issue = String(x?.issue ?? '').trim();\n    const summary = String(x?.summary ?? x?.whyitmatters ?? x?.likelyrootcause ?? '').trim();\n\n    let lanes = getFirst(x?.lanes, x?.evidencelanes, []);\n    if (!Array.isArray(lanes)) lanes = [];\n    lanes = [...new Set(lanes.map(v => String(v).trim()).filter(Boolean))];\n\n    if (!issue && !summary) return null;\n    return { issue, summary, lanes };\n  })\n  .filter(Boolean)\n  .slice(0, 5);\n\nlet lanesUsed = getFirst(parsed?.lanes_used, parsed?.lanesused, sourceLanes, []);\nif (!Array.isArray(lanesUsed)) lanesUsed = [];\nlanesUsed = [...new Set(lanesUsed.map(v => String(v).trim()).filter(Boolean))];\n\nconst updatedHistory = [\n  ...history,\n  { user: query, assistant: reply }\n].slice(-5);\n\nif (sessionId) {\n  store.chat_sessions[sessionId] = updatedHistory;\n}\n\nreturn [{\n  json: {\n    sessionid: sessionId,\n    query,\n    reply,\n    issues_found: issuesFound,\n    lanes_used: lanesUsed,\n    history: updatedHistory,\n    meta: {\n      topk: topK,\n      retrievedcount: retrievedCount,\n      answer_mode: answerMode\n    }\n  }\n}];\n"
      },
      "id": "4bc089b2-86af-43f6-acfb-7e624380b618",
      "name": "Finalize and Save Chat Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        2336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "195583ee-2f44-4728-be75-7492786668fe",
      "name": "Respond to Webhook - Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1664,
        2336
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Parse Chat Request\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Parse Chat Request\"].json[\"query\"]}}",
        "topK": "={{$item(0).$node[\"Parse Chat Request\"].json[\"top_k\"]}}",
        "options": {
          "pineconeNamespace": "RAG1"
        }
      },
      "id": "8c47eec9-7bb9-4656-aa85-1e89dd4859fa",
      "name": "Pinecone Retrieve Returns1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -992,
        1792
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Parse Chat Request\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Parse Chat Request\"].json[\"query\"]}}",
        "topK": "={{$item(0).$node[\"Parse Chat Request\"].json[\"top_k\"]}}",
        "options": {
          "pineconeNamespace": "RAG2"
        }
      },
      "id": "635b6762-d765-4e2c-83de-7f584d4bb41e",
      "name": "Pinecone Retrieve CRM1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -992,
        2192
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Parse Chat Request\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Parse Chat Request\"].json[\"query\"]}}",
        "topK": "={{$item(0).$node[\"Parse Chat Request\"].json[\"top_k\"]}}",
        "options": {
          "pineconeNamespace": "RAG3"
        }
      },
      "id": "a81f2eba-e903-4052-a0d9-ce137bc99bfc",
      "name": "Pinecone Retrieve Reviews1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -640,
        2368
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Parse Chat Request\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Parse Chat Request\"].json[\"query\"]}}",
        "topK": "={{$item(0).$node[\"Parse Chat Request\"].json[\"top_k\"]}}",
        "options": {
          "pineconeNamespace": "RAG4"
        }
      },
      "id": "4ca52c93-b021-4bb9-ab05-cd6fca4a9d58",
      "name": "Pinecone Retrieve Fraud1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -288,
        2528
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Parse Chat Request\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Parse Chat Request\"].json[\"query\"]}}",
        "topK": "={{$item(0).$node[\"Parse Chat Request\"].json[\"top_k\"]}}",
        "options": {
          "pineconeNamespace": "RAG5"
        }
      },
      "id": "c7d8bd2d-0c3c-419e-b8b8-fee9571edd01",
      "name": "Pinecone Retrieve NPS1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        64,
        2704
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        2016
      ],
      "id": "af8d3cf2-0c28-4916-a47d-684e19905a66",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "e4gkhQrNWMI5phYH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://PINECONE_HOST_LINK/vectors/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"deleteAll\": true,\n  \"namespace\": \"RAG1\"\n}",
        "options": {}
      },
      "id": "0255bfaa-1853-4b79-9e50-8daa4da67480",
      "name": "Clear Returns Namespace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        -952
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://PINECONE_HOST_LINK/vectors/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"deleteAll\": true,\n  \"namespace\": \"RAG2\"\n}",
        "options": {}
      },
      "id": "71192d4f-7fa9-4a89-a8b8-c70a4b6e9129",
      "name": "Clear CRM Namespace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        -516
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://PINECONE_HOST_LINK/vectors/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"deleteAll\": true,\n  \"namespace\": \"RAG3\"\n}",
        "options": {}
      },
      "id": "a1efeb44-5c19-4227-806c-9bd5091225b5",
      "name": "Clear Reviews Namespace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        24
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://PINECONE_HOST_LINK/vectors/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"deleteAll\": true,\n  \"namespace\": \"RAG4\"\n}",
        "options": {}
      },
      "id": "5eb7adc1-43e1-4648-ae78-ff613c1ae155",
      "name": "Clear Fraud Namespace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        456
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://PINECONE_HOST_LINK/vectors/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"deleteAll\": true,\n  \"namespace\": \"RAG5\"\n}",
        "options": {}
      },
      "id": "08658d9d-34f9-4f95-9471-ca0278ea6908",
      "name": "Clear NPS Namespace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        872
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "19d401e2-27e7-462c-a235-9acb4618bd8d",
      "name": "Wait After Clear Returns",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        -952
      ],
      "alwaysOutputData": true,
      "webhookId": "wait-after-clear-namespace-rag1"
    },
    {
      "parameters": {},
      "id": "56648a45-067e-4033-9fdb-c63ddb2b7648",
      "name": "Wait After Clear CRM",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        -516
      ],
      "alwaysOutputData": true,
      "webhookId": "wait-after-clear-namespace-rag1"
    },
    {
      "parameters": {},
      "id": "fdae744d-6736-475f-a3ef-839a8f58e2e2",
      "name": "Wait After Clear Reviews",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        456
      ],
      "alwaysOutputData": true,
      "webhookId": "wait-after-clear-namespace-rag1"
    },
    {
      "parameters": {},
      "id": "1180b566-f935-4d9b-b015-86b385923c4b",
      "name": "Wait After Clear Fraud",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        24
      ],
      "alwaysOutputData": true,
      "webhookId": "wait-after-clear-namespace-rag1"
    },
    {
      "parameters": {},
      "id": "f6c8b901-8a8c-441d-a897-554fdd3f3864",
      "name": "Wait After Clear NPS",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        872
      ],
      "alwaysOutputData": true,
      "webhookId": "wait-after-clear-namespace-rag1"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        -952
      ],
      "id": "3997dddc-d53e-4ec4-858c-fc0adbfdebd5",
      "name": "Split In Batches Returns"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        -1172
      ],
      "id": "3c45d8cb-f793-417a-9107-b6f60eb94584",
      "name": "Wait Between Returns Batches",
      "webhookId": "bd7bc256-cb31-46b5-b3d7-ff2e2a04c11e"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        -516
      ],
      "id": "70a25fa2-6e62-433b-bc59-b7c263da1198",
      "name": "Split In Batches CRM"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        -540
      ],
      "id": "3a9a9a7b-60a8-4685-b086-058150b96afa",
      "name": "Wait Between CRM Batches",
      "webhookId": "bd7bc256-cb31-46b5-b3d7-ff2e2a04c11e"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        456
      ],
      "id": "a788f3c6-ebbc-4775-93c3-c225eb8b0332",
      "name": "Split In Batches Fraud"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        412
      ],
      "id": "1393cbd2-50fa-456c-b23d-be11ee4b06c7",
      "name": "Wait Between Fraud Batches",
      "webhookId": "bd7bc256-cb31-46b5-b3d7-ff2e2a04c11e"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        0
      ],
      "id": "af8c74ef-5fcc-4a2f-beba-df5a5240302d",
      "name": "Wait Between Reviews Batches",
      "webhookId": "bd7bc256-cb31-46b5-b3d7-ff2e2a04c11e"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        24
      ],
      "id": "a3b069e0-be5f-466a-a9d5-1ff2078acc5e",
      "name": "Split In Batches Reviews"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        872
      ],
      "id": "53b5d354-93ec-4ee5-9946-60b2df4c0b6c",
      "name": "Split In Batches Fraud1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        824
      ],
      "id": "9411b414-1948-4721-bcaf-f90effe8e2d1",
      "name": "Wait Between Fraud Batches1",
      "webhookId": "bd7bc256-cb31-46b5-b3d7-ff2e2a04c11e"
    },
    {
      "parameters": {
        "content": "# **This workflow initializes the data sources displayed in the Data Status section of the tool.**",
        "height": 1120,
        "width": 2544
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1632,
        -3024
      ],
      "id": "2f674a8a-39ff-4144-9d1d-2534e0459275",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# **This workflow powers the RAG-based smart chat within the tool.**",
        "height": 1264,
        "width": 3568
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        1600
      ],
      "id": "4312f5f4-0590-4c63-aa43-31f10d604225",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# **This workflow handles user feedback submitted through the tool.**",
        "height": 464,
        "width": 1232
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        1600
      ],
      "id": "6a8ed374-5bf3-4d76-9e27-801ba77c706c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# **This is the primary workflow powering AI Insights and is controlled from the tool frontend.**\n# **When enabled, it ingests data into new vector embeddings. When disabled, it skips ingestion and directly runs retrieval and LLM processing.**",
        "height": 3152,
        "width": 7696
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        -1680
      ],
      "id": "a5fe1845-4e72-4ddc-a7e9-2bd2196ecf50",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4992,
        -304
      ],
      "id": "0373b9f0-2312-4360-899b-72687109984d",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "b5R2CZo1ex5fWzCy",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook POST Data Sources Sync": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Read Returns Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Reviews Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Fraud Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read NPS Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read CRM Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Returns Sheet": {
      "main": [
        [
          {
            "node": "Summarize Returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Reviews Sheet": {
      "main": [
        [
          {
            "node": "Summarize Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Fraud Sheet": {
      "main": [
        [
          {
            "node": "Summarize Fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read NPS Sheet": {
      "main": [
        [
          {
            "node": "Summarize NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Returns": {
      "main": [
        [
          {
            "node": "Merge A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize CRM": {
      "main": [
        [
          {
            "node": "Merge A",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize Reviews": {
      "main": [
        [
          {
            "node": "Merge B",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize Fraud": {
      "main": [
        [
          {
            "node": "Merge C",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize NPS": {
      "main": [
        [
          {
            "node": "Merge D",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge A": {
      "main": [
        [
          {
            "node": "Merge B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge B": {
      "main": [
        [
          {
            "node": "Merge C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge C": {
      "main": [
        [
          {
            "node": "Merge D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge D": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CRM Sheet": {
      "main": [
        [
          {
            "node": "Summarize CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Returns Docs": {
      "main": [
        [
          {
            "node": "Split In Batches Returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CRM Docs": {
      "main": [
        [
          {
            "node": "Split In Batches CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert Returns": {
      "main": [
        [
          {
            "node": "Split In Batches Returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert CRM": {
      "main": [
        [
          {
            "node": "Split In Batches CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert Returns",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert CRM",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert Reviews",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert Fraud",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert NPS",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Returns",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve CRM",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Reviews",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Fraud",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve NPS",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reviews Docs": {
      "main": [
        [
          {
            "node": "Split In Batches Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert CRM",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Returns Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert Returns",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert Reviews": {
      "main": [
        [
          {
            "node": "Split In Batches Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Inserts A": {
      "main": [
        [
          {
            "node": "Sync Inserts B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fraud Docs": {
      "main": [
        [
          {
            "node": "Split In Batches Fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviews Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert Reviews",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert Fraud": {
      "main": [
        [
          {
            "node": "Split In Batches Fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Inserts B": {
      "main": [
        [
          {
            "node": "Sync Inserts C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare NPS Docs": {
      "main": [
        [
          {
            "node": "Split In Batches Fraud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert Fraud",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert NPS": {
      "main": [
        [
          {
            "node": "Split In Batches Fraud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Inserts C": {
      "main": [
        [
          {
            "node": "Sync Inserts D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NPS Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert NPS",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Sync Inserts D": {
      "main": [
        [
          {
            "node": "Wait For Pinecone Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Pinecone Indexing": {
      "main": [
        [
          {
            "node": "Build Retrieval Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retrieval Requests": {
      "main": [
        [
          {
            "node": "Pinecone Retrieve Returns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Reviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Fraud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve Returns": {
      "main": [
        [
          {
            "node": "Format Retrieved Context Returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve CRM": {
      "main": [
        [
          {
            "node": "Format Retrieved Context CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve Reviews": {
      "main": [
        [
          {
            "node": "Format Retrieved Context Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve Fraud": {
      "main": [
        [
          {
            "node": "Format Retrieved Context Fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve NPS": {
      "main": [
        [
          {
            "node": "Format Retrieved Context NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Retrieved Context Returns": {
      "main": [
        [
          {
            "node": "RAG LLM Returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Retrieved Context CRM": {
      "main": [
        [
          {
            "node": "RAG LLM CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Retrieved Context Reviews": {
      "main": [
        [
          {
            "node": "RAG LLM Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Retrieved Context NPS": {
      "main": [
        [
          {
            "node": "RAG LLM NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Master Output": {
      "main": [
        [
          {
            "node": "Format Signal API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master RAG LLM": {
      "main": [
        [
          {
            "node": "Final Master Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Master Context": {
      "main": [
        [
          {
            "node": "Master RAG LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lane LLM 4": {
      "main": [
        [
          {
            "node": "Build Master Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lane LLM 3": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lane LLM 2": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter RAG Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG LLM NPS",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM Fraud",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM Reviews",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM CRM",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM Returns",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lane LLM 1": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG LLM NPS": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAG LLM Fraud": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAG LLM Reviews": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAG LLM CRM": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAG LLM Returns": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Retrieved Context Fraud": {
      "main": [
        [
          {
            "node": "RAG LLM Fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Signal API Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Returns Sheet1": {
      "main": [
        [
          {
            "node": "Prepare Returns Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CRM Sheet1": {
      "main": [
        [
          {
            "node": "Prepare CRM Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Reviews Sheet1": {
      "main": [
        [
          {
            "node": "Prepare Reviews Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Fraud Sheet1": {
      "main": [
        [
          {
            "node": "Prepare Fraud Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read NPS Sheet1": {
      "main": [
        [
          {
            "node": "Prepare NPS Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Feedback": {
      "main": [
        [
          {
            "node": "Required Fields?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields?": {
      "main": [
        [
          {
            "node": "Gmail Send Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Feedback": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Ingest Enabled1": {
      "main": [
        [
          {
            "node": "Clear Returns Namespace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear CRM Namespace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear NPS Namespace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear Reviews Namespace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear Fraud Namespace",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Retrieval Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Args2": {
      "main": [
        [
          {
            "node": "Config Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Start Signal Run1": {
      "main": [
        [
          {
            "node": "Parse Webhook Args2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Ingest": {
      "main": [
        [
          {
            "node": "If Ingest Enabled1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Start Chat": {
      "main": [
        [
          {
            "node": "Parse Chat Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat Request": {
      "main": [
        [
          {
            "node": "Pinecone Retrieve Returns1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve CRM1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Reviews1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Fraud1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve NPS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Findings A": {
      "main": [
        [
          {
            "node": "Merge Findings B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Findings B": {
      "main": [
        [
          {
            "node": "Merge Findings C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Findings C": {
      "main": [
        [
          {
            "node": "Merge Findings D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Findings D": {
      "main": [
        [
          {
            "node": "Format Combined Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Combined Findings": {
      "main": [
        [
          {
            "node": "Build PM Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PM Chat Prompt": {
      "main": [
        [
          {
            "node": "PM Chat Reply Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Chat Reply Chain": {
      "main": [
        [
          {
            "node": "Finalize and Save Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PM Chat Reply Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Finalize and Save Chat Memory": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve Returns1": {
      "main": [
        [
          {
            "node": "Merge Findings A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve CRM1": {
      "main": [
        [
          {
            "node": "Merge Findings A",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pinecone Retrieve Reviews1": {
      "main": [
        [
          {
            "node": "Merge Findings B",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pinecone Retrieve Fraud1": {
      "main": [
        [
          {
            "node": "Merge Findings C",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pinecone Retrieve NPS1": {
      "main": [
        [
          {
            "node": "Merge Findings D",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Retrieve Returns1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve CRM1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Reviews1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve Fraud1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve NPS1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Clear Returns Namespace": {
      "main": [
        [
          {
            "node": "Wait After Clear Returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear CRM Namespace": {
      "main": [
        [
          {
            "node": "Wait After Clear CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Reviews Namespace": {
      "main": [
        [
          {
            "node": "Wait After Clear Fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Fraud Namespace": {
      "main": [
        [
          {
            "node": "Wait After Clear Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear NPS Namespace": {
      "main": [
        [
          {
            "node": "Wait After Clear NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Clear Returns": {
      "main": [
        [
          {
            "node": "Read Returns Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Clear CRM": {
      "main": [
        [
          {
            "node": "Read CRM Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Clear Reviews": {
      "main": [
        [
          {
            "node": "Read Fraud Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Clear Fraud": {
      "main": [
        [
          {
            "node": "Read Reviews Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait After Clear NPS": {
      "main": [
        [
          {
            "node": "Read NPS Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches Returns": {
      "main": [
        [
          {
            "node": "Sync Inserts A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Between Returns Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Returns Batches": {
      "main": [
        [
          {
            "node": "Pinecone Insert Returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches CRM": {
      "main": [
        [
          {
            "node": "Sync Inserts A",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait Between CRM Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between CRM Batches": {
      "main": [
        [
          {
            "node": "Pinecone Insert CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches Fraud": {
      "main": [
        [
          {
            "node": "Sync Inserts C",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait Between Fraud Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Fraud Batches": {
      "main": [
        [
          {
            "node": "Pinecone Insert Fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Reviews Batches": {
      "main": [
        [
          {
            "node": "Pinecone Insert Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches Reviews": {
      "main": [
        [
          {
            "node": "Sync Inserts B",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait Between Reviews Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches Fraud1": {
      "main": [
        [
          {
            "node": "Sync Inserts D",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait Between Fraud Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Fraud Batches1": {
      "main": [
        [
          {
            "node": "Pinecone Insert NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Master RAG LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9cb46183-125d-446d-8bf1-be7b0c738de9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ddf7122d233e93cd0f80ee59905968e32e1ebe3cf80573fd9724ab5fedc3985e"
  },
  "id": "8oB5lZPHylINzG2x",
  "tags": []
}