n8n-signal-workflow.json
{
  "name": "SIGNAL (Full Pipeline + Webhooks)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "gen-0001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        672
      ]
    },
    {
      "parameters": {},
      "id": "gen-0002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        864
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "spreadsheet_id",
              "value": "={{$env.SIGNAL_SPREADSHEET_ID || '1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y'}}"
            },
            {
              "name": "pinecone_index",
              "value": "={{$env.PINECONE_INDEX || 'signal-returns-db'}}"
            },
            {
              "name": "pinecone_query_url",
              "value": "={{$env.PINECONE_QUERY_URL || 'https://signal-returns-db-fmlwamj.svc.aped-4627-b74a.pinecone.io/query'}}"
            },
            {
              "name": "simple_query_text",
              "value": "customer issue"
            },
            {
              "name": "llm_system_prompt",
              "value": "You are a grounded analyst.\n\nUse ONLY the retrieved RAG chunks provided as input.\nDo not invent facts outside the retrieved context.\n\nReturn ONLY valid JSON. No markdown. No code fences. No text before or after.\n\nRequired output schema:\n{\n  \"lane\": \"<lane value>\",\n  \"namespace\": \"<namespace value>\",\n  \"evidence_count\": <number>,\n  \"problems\": [\n    {\n      \"title\": \"<short problem title, max 12 words>\",\n      \"summary\": \"<2-3 sentence description grounded in evidence>\",\n      \"confidence\": <0-100>,\n      \"frequency\": <estimated event count>,\n      \"urgency\": \"critical\" | \"high\" | \"medium\" | \"low\",\n      \"evidence_quotes\": [\"<exact quote or paraphrase from chunk>\"],\n      \"reason_codes\": [\"<return reason code if identifiable>\"],\n      \"chunk_ids\": [<chunk numbers>]\n    }\n  ],\n  \"notes\": \"<overall lane observation>\"\n}\n\nRules:\n- problems: array of 1-5 objects, ranked by confidence descending.\n- confidence: 0-100 based on evidence strength.\n- evidence_quotes: must reference actual text from chunks.\n- If no evidence, return problems as [] with notes explaining why."
            },
            {
              "name": "returns_query",
              "value": "customer return complaint refund defect wrong item"
            },
            {
              "name": "crm_query",
              "value": "customer support complaint escalation service issue"
            },
            {
              "name": "reviews_query",
              "value": "negative review quality complaint product issue"
            },
            {
              "name": "fraud_query",
              "value": "fraud abuse counterfeit suspicious account activity"
            },
            {
              "name": "nps_query",
              "value": "feature request dissatisfaction customer feedback"
            },
            {
              "name": "master_llm_system_prompt",
              "value": "You are a grounded master analyst synthesizing findings across all data lanes.\n\nUse ONLY the lane-level problem outputs provided.\nDo not invent facts outside the provided context.\n\nReturn ONLY valid JSON. No markdown. No code fences. No text before or after.\n\nRequired output schema:\n{\n  \"report_title\": \"<descriptive title>\",\n  \"overall_summary\": \"<2-4 sentence executive summary>\",\n  \"masterProblems\": [\n    {\n      \"id\": <sequential from 1>,\n      \"rank\": <priority rank>,\n      \"title\": \"<short problem title>\",\n      \"summary\": \"<3-5 sentence grounded description>\",\n      \"confidence\": <0-100>,\n      \"groundedness\": <0-100>,\n      \"urgency\": \"critical\" | \"high\" | \"medium\" | \"low\",\n      \"isNew\": true,\n      \"isRecurring\": false,\n      \"sources\": [\"<lane display names>\"],\n      \"frequency\": <total event count>,\n      \"frequencyDelta\": 0,\n      \"estimatedImpact\": \"<$ estimate or Unknown>\",\n      \"reasonCodes\": [\"<return reason codes>\"],\n      \"subReasonDrivers\": [],\n      \"citations\": [\n        { \"id\": <int>, \"source\": \"<display name>\", \"sourceColor\": \"<hex>\", \"type\": \"evidence\", \"ref\": \"<label>\", \"preview\": \"<quote>\" }\n      ],\n      \"nodeProblems\": {\n        \"<Source Name>\": [\n          { \"title\": \"<finding>\", \"count\": null, \"citationIds\": [<int>] }\n        ]\n      }\n    }\n  ],\n  \"priority_issues\": [\"<short strings>\"],\n  \"cross_lane_patterns\": [\"<short strings>\"],\n  \"recommended_actions\": [\"<short strings>\"]\n}\n\nRules:\n- masterProblems: 3-7 objects ranked by confidence + frequency + urgency.\n- Merge similar problems across lanes.\n- citations: reference actual evidence from lane outputs.\n- Use these display names/colors:\n  returns = \"Data Warehouse\" (#FF9900)\n  crm = \"Zendesk Support\" (#03363D)\n  reviews = \"App Store Reviews\" (#0D96F6)\n  fraud = \"Fraud & Abuse\" (#C0392B)\n  nps = \"Productboard\" (#8B5CF6)\n- nodeProblems must group findings by source display name.\n- isRecurring: true if multiple lanes report same issue."
            }
          ]
        },
        "options": {}
      },
      "id": "gen-0003",
      "name": "Config Ingest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        224,
        816
      ]
    },
    {
      "parameters": {
        "path": "signal-data-sources",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gen-0004",
      "name": "Webhook DataSources",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        -400
      ],
      "webhookId": "ds-gen-0005"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$env.SIGNAL_SPREADSHEET_ID || '1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y'}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SIGNAL_Metadata",
          "mode": "name"
        },
        "options": {}
      },
      "id": "gen-0006",
      "name": "Read Metadata Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -176,
        -400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json).filter(r => r && r.Source_Name);\nconst integrations = rows.map((r, idx) => ({\n  id: idx + 1,\n  name: r.Display_Name || r.Source_Name,\n  shortName: r.Short_Name || r.Source_Name.substring(0, 2).toUpperCase(),\n  iconBg: r.Icon_Bg || '#FF9900',\n  iconInitial: r.Icon_Initial || r.Source_Name[0],\n  status: r.Last_Sync_Status || 'synced',\n  lastSyncTime: r.Last_Sync_Time ? new Date(r.Last_Sync_Time).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' }) : 'N/A',\n  lastSyncDate: r.Last_Sync_Time ? (() => { const d = new Date(r.Last_Sync_Time); const today = new Date(); return d.toDateString() === today.toDateString() ? 'Today' : d.toLocaleDateString(); })() : 'N/A',\n  coveragePeriod: (r.Coverage_Start && r.Coverage_End) ? r.Coverage_Start + ' – ' + r.Coverage_End : 'N/A',\n  recordsPulled: r.Records_Pulled ? Number(r.Records_Pulled).toLocaleString() : '0',\n  recordsUnit: r.Records_Unit || 'records',\n  ragStatus: r.RAG_Status || 'pending',\n  ragCount: Number(r.RAG_Count || 1),\n  category: r.Category || 'Data'\n}));\nconst totalRecords = rows.reduce((s, r) => s + Number(r.Records_Pulled || 0), 0);\nconst ragsIndexed = rows.reduce((s, r) => s + Number(r.RAG_Count || 0), 0);\nreturn [{ json: {\n  summary: {\n    activeSources: integrations.filter(i => i.status === 'synced').length,\n    ragsIndexed,\n    totalRecords: totalRecords >= 1e6 ? (totalRecords / 1e6).toFixed(1) + 'M' : totalRecords.toLocaleString(),\n    batchDuration: 'N/A',\n    lastBatchTime: rows[0]?.Last_Sync_Time ? new Date(rows[0].Last_Sync_Time).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }) : 'N/A'\n  },\n  integrations\n}}];"
      },
      "id": "gen-0007",
      "name": "Build DataSources Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type,X-Signal-Key"
              }
            ]
          }
        }
      },
      "id": "gen-0008",
      "name": "Respond DataSources Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        272,
        -400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "signal-sync-trigger",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gen-0009",
      "name": "Webhook SyncTrigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        -200
      ],
      "webhookId": "st-gen-000a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"started\", timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type,X-Signal-Key"
              }
            ]
          }
        }
      },
      "id": "gen-000b",
      "name": "Respond SyncTrigger",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        -200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "signal-kpi-simple",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gen-000c",
      "name": "Webhook KPI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "webhookId": "kpi-gen-000d"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "spreadsheet_id",
              "value": "={{$env.SIGNAL_SPREADSHEET_ID || '1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "gen-000e",
      "name": "Config KPI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config KPI\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "BI_HighLevel_KPIs"
        },
        "options": {}
      },
      "id": "gen-000f",
      "name": "Read KPI Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        48,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const range = $input.first()?.json?.query?.range || '7d';\nconst rows = items.map(i => i.json).filter(r => r && r.Metric_Key);\nconst periodRows = rows.filter(r => (r.Period || '7d') === range);\nconst fallbackRows = periodRows.length ? periodRows : rows;\nconst metrics = {};\nfor (const row of fallbackRows) {\n  const key = row.Metric_Key;\n  if (!key) continue;\n  const current = Number(row.Current_Value ?? 0);\n  const previous = Number(row.Previous_Value ?? current);\n  const delta = previous !== 0 ? Math.round(((current - previous) / Math.abs(previous)) * 1000) / 10 : 0;\n  metrics[key] = {\n    value: current,\n    delta,\n    unit: row.Unit || '',\n    direction: row.Direction_Logic || 'up-bad'\n  };\n}\nreturn [{ json: metrics }];"
      },
      "id": "gen-000g",
      "name": "Simplify KPI Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type,X-Signal-Key"
              }
            ]
          }
        }
      },
      "id": "gen-000h",
      "name": "Respond KPI Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        496,
        0
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "signal-metrics-charts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gen-000i",
      "name": "Webhook MetricsCharts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ],
      "webhookId": "mc-gen-000j"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$env.SIGNAL_SPREADSHEET_ID || '1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y'}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1807706849,
          "mode": "list",
          "cachedResultName": "Raw_SQL_Returns"
        },
        "options": {}
      },
      "id": "gen-000k",
      "name": "Read Returns For Charts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -176,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json).filter(r => r && Object.keys(r).length);\n// Return Reason Codes\nconst codeCounts = {};\nfor (const r of rows) {\n  const code = r.Return_Reason_Code || 'Unknown';\n  if (!codeCounts[code]) codeCounts[code] = { count: 0, subReasons: {} };\n  codeCounts[code].count++;\n  const sub = r.Customer_Subjective_Reason || 'Other';\n  codeCounts[code].subReasons[sub] = (codeCounts[code].subReasons[sub] || 0) + 1;\n}\nconst total = rows.length || 1;\nconst codeColors = { \"Defective / Quality\": \"#C0392B\", \"Wrong Item Sent\": \"#FF9900\", \"Size or Fit Issue\": \"#6B46C1\", \"Damaged / Used Product\": \"#B7791F\", \"Item No Longer Needed\": \"#0066C0\", \"Missing Parts / Accessories\": \"#067D62\" };\nconst returnReasonCodes = Object.entries(codeCounts)\n  .sort((a, b) => b[1].count - a[1].count)\n  .map(([code, data]) => {\n    const pct = Math.round((data.count / total) * 1000) / 10;\n    const shortCode = code.length > 16 ? code.split(/[\\/\\s]+/).slice(0, 2).join(' ') : code;\n    const subTotal = data.count || 1;\n    const subReasons = Object.entries(data.subReasons)\n      .sort((a, b) => b[1] - a[1]).slice(0, 4)\n      .map(([label, cnt]) => ({ label, pct: Math.round((cnt / subTotal) * 100), count: cnt }));\n    return { code, shortCode, pct, count: data.count, color: codeColors[code] || '#9CA3A3', subReasons };\n  });\n// Refund categories\nconst refundCounts = {};\nfor (const r of rows) {\n  const t = r.Refund_Type || 'Full Refund';\n  refundCounts[t] = (refundCounts[t] || 0) + 1;\n}\nconst refundColors = { \"Full Refund\": \"#FF9900\", \"Partial Refund\": \"#232F3E\", \"Store Credit\": \"#6B46C1\", \"Disputed\": \"#C0392B\" };\nconst refundCategories = Object.entries(refundCounts)\n  .sort((a, b) => b[1] - a[1])\n  .map(([name, count]) => ({ name, pct: Math.round((count / total) * 100), count, color: refundColors[name] || '#9CA3A3' }));\nreturn [{ json: { returnReasonCodes, refundCategories, weeklyTrend: [], returnRateTrend: [], growingSubReasons: [] } }];"
      },
      "id": "gen-000l",
      "name": "Compute Chart Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type,X-Signal-Key"
              }
            ]
          }
        }
      },
      "id": "gen-000m",
      "name": "Respond MetricsCharts Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        272,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "signal-insights",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gen-000n",
      "name": "Webhook Insights",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        -600
      ],
      "webhookId": "ins-gen-000o"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$env.SIGNAL_SPREADSHEET_ID || '1ZsBNvm8Ir7_vvz7z5vqENW20lANbgSASGepTtVXhu8Y'}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SIGNAL_Insights_Output",
          "mode": "name"
        },
        "options": {}
      },
      "id": "gen-000p",
      "name": "Read Insights Output",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -176,
        -600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json).filter(r => r && r.Raw_Master_JSON);\nif (!rows.length) return [{ json: { error: true, message: \"No insights data found\", code: \"NO_DATA\" } }];\nconst last = rows[rows.length - 1];\nlet parsed = {};\ntry { parsed = JSON.parse(last.Raw_Master_JSON); } catch(e) { return [{ json: { error: true, message: \"Failed to parse insights\", code: \"PARSE_ERROR\" } }]; }\n// Build citationLibrary from masterProblems citations\nconst allCitations = [];\nconst problems = Array.isArray(parsed.masterProblems) ? parsed.masterProblems : [];\nfor (const p of problems) {\n  if (Array.isArray(p.citations)) {\n    for (const c of p.citations) { if (!allCitations.find(x => x.id === c.id)) allCitations.push(c); }\n  }\n  // Map citationIds from inline citations\n  if (!p.citationIds && Array.isArray(p.citations)) {\n    p.citationIds = p.citations.map(c => c.id);\n  }\n}\nreturn [{ json: {\n  masterProblems: problems,\n  citationLibrary: allCitations,\n  report_title: parsed.report_title || 'SIGNAL Insights',\n  overall_summary: parsed.overall_summary || '',\n  priority_issues: parsed.priority_issues || [],\n  cross_lane_patterns: parsed.cross_lane_patterns || [],\n  recommended_actions: parsed.recommended_actions || [],\n  run_timestamp: last.Run_Timestamp || new Date().toISOString()\n}}];"
      },
      "id": "gen-000q",
      "name": "Format Insights Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -600
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type,X-Signal-Key"
              }
            ]
          }
        }
      },
      "id": "gen-000r",
      "name": "Respond Insights Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        272,
        -600
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1807706849,
          "mode": "list",
          "cachedResultName": "Raw_SQL_Returns"
        },
        "options": {}
      },
      "id": "gen-000s",
      "name": "Read Raw SQL Returns",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 267245602,
          "mode": "list",
          "cachedResultName": "CRM_Transcripts"
        },
        "options": {}
      },
      "id": "gen-000t",
      "name": "Read CRM Transcripts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        576
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 145959029,
          "mode": "list",
          "cachedResultName": "VoC_Reviews"
        },
        "options": {}
      },
      "id": "gen-000u",
      "name": "Read VoC Reviews",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        768
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 304167556,
          "mode": "list",
          "cachedResultName": "Fraud_Abuse"
        },
        "options": {}
      },
      "id": "gen-000v",
      "name": "Read Fraud Abuse",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1372932066,
          "mode": "list",
          "cachedResultName": "NPS_FeatureBoards"
        },
        "options": {}
      },
      "id": "gen-000w",
      "name": "Read NPS FeatureBoards",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1312,
        1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'returns';\nconst ns = 'RAG1';\nconst sheet = 'Raw_SQL_Returns';\nconst keyField = 'Customer_Subjective_Reason';\nreturn items.map((item, idx) => {\n  const row = item.json || {};\n  const text = String(row[keyField] ?? '').trim();\n  if (!text) return null;\n  return { json: { lane, namespace: ns, source_sheet: sheet, source_column: keyField, row_number: idx + 1, text_content: text, ...row } };\n}).filter(Boolean);"
      },
      "id": "gen-000x",
      "name": "Prepare returns Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        384
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'crm';\nconst ns = 'RAG2';\nconst sheet = 'CRM_Transcripts';\nconst keyField = 'Transcript_Summary';\nreturn items.map((item, idx) => {\n  const row = item.json || {};\n  const text = String(row[keyField] ?? '').trim();\n  if (!text) return null;\n  return { json: { lane, namespace: ns, source_sheet: sheet, source_column: keyField, row_number: idx + 1, text_content: text, ...row } };\n}).filter(Boolean);"
      },
      "id": "gen-000y",
      "name": "Prepare crm Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        576
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'reviews';\nconst ns = 'RAG3';\nconst sheet = 'VoC_Reviews';\nconst keyField = 'Customer_Feedback';\nreturn items.map((item, idx) => {\n  const row = item.json || {};\n  const text = String(row[keyField] ?? '').trim();\n  if (!text) return null;\n  return { json: { lane, namespace: ns, source_sheet: sheet, source_column: keyField, row_number: idx + 1, text_content: text, ...row } };\n}).filter(Boolean);"
      },
      "id": "gen-000z",
      "name": "Prepare reviews Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        768
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'fraud';\nconst ns = 'RAG4';\nconst sheet = 'Fraud_Abuse';\nconst keyField = 'Investigator_Notes';\nreturn items.map((item, idx) => {\n  const row = item.json || {};\n  const text = String(row[keyField] ?? '').trim();\n  if (!text) return null;\n  return { json: { lane, namespace: ns, source_sheet: sheet, source_column: keyField, row_number: idx + 1, text_content: text, ...row } };\n}).filter(Boolean);"
      },
      "id": "gen-0010",
      "name": "Prepare fraud Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        960
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const lane = 'nps';\nconst ns = 'RAG5';\nconst sheet = 'NPS_FeatureBoards';\nconst keyField = 'Survey_Comment';\nreturn items.map((item, idx) => {\n  const row = item.json || {};\n  const text = String(row[keyField] ?? '').trim();\n  if (!text) return null;\n  return { json: { lane, namespace: ns, source_sheet: sheet, source_column: keyField, row_number: idx + 1, text_content: text, ...row } };\n}).filter(Boolean);"
      },
      "id": "gen-0011",
      "name": "Prepare nps Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        1152
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "gen-0012",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2144,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "e4gkhQrNWMI5phYH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "RAG1"
        }
      },
      "id": "gen-0013",
      "name": "Pinecone Insert returns",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "RAG2"
        }
      },
      "id": "gen-0014",
      "name": "Pinecone Insert crm",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        576
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "RAG3"
        }
      },
      "id": "gen-0015",
      "name": "Pinecone Insert reviews",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1120,
        768
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "RAG4"
        }
      },
      "id": "gen-0016",
      "name": "Pinecone Insert fraud",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1408,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "RAG5"
        }
      },
      "id": "gen-0017",
      "name": "Pinecone Insert nps",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1760,
        1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text_content || ''}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              }
            ]
          }
        }
      },
      "id": "gen-0018",
      "name": "returns Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        684
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text_content || ''}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              }
            ]
          }
        }
      },
      "id": "gen-0019",
      "name": "crm Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        876
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text_content || ''}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              }
            ]
          }
        }
      },
      "id": "gen-001a",
      "name": "reviews Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        896,
        1068
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text_content || ''}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              }
            ]
          }
        }
      },
      "id": "gen-001b",
      "name": "fraud Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1184,
        1260
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text_content || ''}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lane",
                "value": "={{$json.lane}}"
              },
              {
                "name": "namespace",
                "value": "={{$json.namespace}}"
              },
              {
                "name": "source_sheet",
                "value": "={{$json.source_sheet}}"
              },
              {
                "name": "row_number",
                "value": "={{$json.row_number}}"
              }
            ]
          }
        }
      },
      "id": "gen-001c",
      "name": "nps Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1536,
        1452
      ]
    },
    {
      "parameters": {},
      "id": "gen-001d",
      "name": "Sync Inserts A",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1312,
        480
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "gen-001e",
      "name": "Sync Inserts B",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1664,
        624
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "gen-001f",
      "name": "Sync Inserts C",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2016,
        768
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "gen-001g",
      "name": "Sync Inserts D",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2368,
        912
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "gen-001h",
      "name": "Wait For Pinecone Indexing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2528,
        816
      ],
      "alwaysOutputData": true,
      "webhookId": "wait-gen-001i",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $item(0).$node[\"Config Ingest\"].json;\nreturn [\n  { json: { lane: 'returns', namespace: 'RAG1', natural_query: cfg.returns_query, top_k: 4 } },\n  { json: { lane: 'crm', namespace: 'RAG2', natural_query: cfg.crm_query, top_k: 4 } },\n  { json: { lane: 'reviews', namespace: 'RAG3', natural_query: cfg.reviews_query, top_k: 4 } },\n  { json: { lane: 'fraud', namespace: 'RAG4', natural_query: cfg.fraud_query, top_k: 4 } },\n  { json: { lane: 'nps', namespace: 'RAG5', natural_query: cfg.nps_query, top_k: 4 } },\n];"
      },
      "id": "gen-001j",
      "name": "Build Retrieval Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        816
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"returns_query\"]}}",
        "options": {
          "pineconeNamespace": "RAG1"
        }
      },
      "id": "gen-001k",
      "name": "Pinecone Retrieve returns",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2976,
        224
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = items.map((item, idx) => {\n  const doc = item.json.document || {};\n  const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n  return text ? '[' + (idx + 1) + '] ' + text : '';\n}).filter(Boolean);\nreturn [{ json: { lane: 'returns', namespace: 'RAG1', natural_query: $item(0).$node[\"Config Ingest\"].json[\"returns_query\"], evidence_count: chunks.length, retrieved_context: chunks.join('\\n\\n') } }];"
      },
      "id": "gen-001l",
      "name": "Format Context returns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        224
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actual lane value: {{$json.lane}}\nActual namespace value: {{$json.namespace}}\nActual evidence count: {{$json.evidence_count}}\n\nRetrieved chunks:\n{{$json.retrieved_context}}\n\nSet lane, namespace, and evidence_count in the JSON to the exact actual values above.\nIf the retrieved chunks are empty, return problems as [] and notes as \"No evidence was found.\"",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $item(0).$node[\"Config Ingest\"].json[\"llm_system_prompt\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "gen-001m",
      "name": "RAG LLM returns",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3680,
        224
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"crm_query\"]}}",
        "options": {
          "pineconeNamespace": "RAG2"
        }
      },
      "id": "gen-001n",
      "name": "Pinecone Retrieve crm",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2976,
        624
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = items.map((item, idx) => {\n  const doc = item.json.document || {};\n  const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n  return text ? '[' + (idx + 1) + '] ' + text : '';\n}).filter(Boolean);\nreturn [{ json: { lane: 'crm', namespace: 'RAG2', natural_query: $item(0).$node[\"Config Ingest\"].json[\"crm_query\"], evidence_count: chunks.length, retrieved_context: chunks.join('\\n\\n') } }];"
      },
      "id": "gen-001o",
      "name": "Format Context crm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        624
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actual lane value: {{$json.lane}}\nActual namespace value: {{$json.namespace}}\nActual evidence count: {{$json.evidence_count}}\n\nRetrieved chunks:\n{{$json.retrieved_context}}\n\nSet lane, namespace, and evidence_count in the JSON to the exact actual values above.\nIf the retrieved chunks are empty, return problems as [] and notes as \"No evidence was found.\"",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $item(0).$node[\"Config Ingest\"].json[\"llm_system_prompt\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "gen-001p",
      "name": "RAG LLM crm",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3680,
        624
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"reviews_query\"]}}",
        "options": {
          "pineconeNamespace": "RAG3"
        }
      },
      "id": "gen-001q",
      "name": "Pinecone Retrieve reviews",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        3328,
        816
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = items.map((item, idx) => {\n  const doc = item.json.document || {};\n  const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n  return text ? '[' + (idx + 1) + '] ' + text : '';\n}).filter(Boolean);\nreturn [{ json: { lane: 'reviews', namespace: 'RAG3', natural_query: $item(0).$node[\"Config Ingest\"].json[\"reviews_query\"], evidence_count: chunks.length, retrieved_context: chunks.join('\\n\\n') } }];"
      },
      "id": "gen-001r",
      "name": "Format Context reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        816
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actual lane value: {{$json.lane}}\nActual namespace value: {{$json.namespace}}\nActual evidence count: {{$json.evidence_count}}\n\nRetrieved chunks:\n{{$json.retrieved_context}}\n\nSet lane, namespace, and evidence_count in the JSON to the exact actual values above.\nIf the retrieved chunks are empty, return problems as [] and notes as \"No evidence was found.\"",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $item(0).$node[\"Config Ingest\"].json[\"llm_system_prompt\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "gen-001s",
      "name": "RAG LLM reviews",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4032,
        816
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"fraud_query\"]}}",
        "options": {
          "pineconeNamespace": "RAG4"
        }
      },
      "id": "gen-001t",
      "name": "Pinecone Retrieve fraud",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        3680,
        1008
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = items.map((item, idx) => {\n  const doc = item.json.document || {};\n  const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n  return text ? '[' + (idx + 1) + '] ' + text : '';\n}).filter(Boolean);\nreturn [{ json: { lane: 'fraud', namespace: 'RAG4', natural_query: $item(0).$node[\"Config Ingest\"].json[\"fraud_query\"], evidence_count: chunks.length, retrieved_context: chunks.join('\\n\\n') } }];"
      },
      "id": "gen-001u",
      "name": "Format Context fraud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        1008
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actual lane value: {{$json.lane}}\nActual namespace value: {{$json.namespace}}\nActual evidence count: {{$json.evidence_count}}\n\nRetrieved chunks:\n{{$json.retrieved_context}}\n\nSet lane, namespace, and evidence_count in the JSON to the exact actual values above.\nIf the retrieved chunks are empty, return problems as [] and notes as \"No evidence was found.\"",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $item(0).$node[\"Config Ingest\"].json[\"llm_system_prompt\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "gen-001v",
      "name": "RAG LLM fraud",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4384,
        1008
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"pinecone_index\"]}}",
          "mode": "id"
        },
        "prompt": "={{$item(0).$node[\"Config Ingest\"].json[\"nps_query\"]}}",
        "options": {
          "pineconeNamespace": "RAG5"
        }
      },
      "id": "gen-001w",
      "name": "Pinecone Retrieve nps",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        4032,
        1200
      ],
      "credentials": {
        "pineconeApi": {
          "id": "cgLcpihxz5xVUy6n",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = items.map((item, idx) => {\n  const doc = item.json.document || {};\n  const text = doc.pageContent || item.json.pageContent || item.json.text || '';\n  return text ? '[' + (idx + 1) + '] ' + text : '';\n}).filter(Boolean);\nreturn [{ json: { lane: 'nps', namespace: 'RAG5', natural_query: $item(0).$node[\"Config Ingest\"].json[\"nps_query\"], evidence_count: chunks.length, retrieved_context: chunks.join('\\n\\n') } }];"
      },
      "id": "gen-001x",
      "name": "Format Context nps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        1200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actual lane value: {{$json.lane}}\nActual namespace value: {{$json.namespace}}\nActual evidence count: {{$json.evidence_count}}\n\nRetrieved chunks:\n{{$json.retrieved_context}}\n\nSet lane, namespace, and evidence_count in the JSON to the exact actual values above.\nIf the retrieved chunks are empty, return problems as [] and notes as \"No evidence was found.\"",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $item(0).$node[\"Config Ingest\"].json[\"llm_system_prompt\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "gen-001y",
      "name": "RAG LLM nps",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        4736,
        1200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "gen-001z",
      "name": "Merge Lane LLM 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4096,
        480
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "gen-0020",
      "name": "Merge Lane LLM 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4448,
        576
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "gen-0021",
      "name": "Merge Lane LLM 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4800,
        672
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "gen-0022",
      "name": "Merge Lane LLM 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5152,
        768
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1",
        "options": {}
      },
      "id": "gen-0023",
      "name": "OpenRouter RAG Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4528,
        160
      ],
      "credentials": {
        "openRouterApi": {
          "id": "b5R2CZo1ex5fWzCy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = items.map((item) => {\n  const raw = item.json || {};\n  let candidate = raw.text || raw.response || raw.output || raw.message || raw.content || '';\n  if (typeof candidate !== 'string') candidate = JSON.stringify(candidate || {});\n  let cleaned = candidate.trim();\n  if (cleaned.startsWith('```json')) cleaned = cleaned.replace(/^```json\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  else if (cleaned.startsWith('```')) cleaned = cleaned.replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  let parsed = null;\n  try { parsed = JSON.parse(cleaned); } catch(e) {}\n  return parsed && typeof parsed === 'object' ? parsed : raw;\n});\nconst masterContext = normalized.length\n  ? JSON.stringify(normalized, null, 2)\n  : 'No lane outputs found.';\nreturn [{ json: { lane_output_count: normalized.length, master_context: masterContext, lane_outputs: normalized } }];"
      },
      "id": "gen-0024",
      "name": "Build Master Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5296,
        768
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lane-level outputs:\n{{$json.master_context}}\n\nUse the lane-level outputs above to produce a single master synthesis.\nPreserve lane names exactly.\nDo not use outside knowledge.\nIf lane_output_count is 0, return minimal output with empty arrays.",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $item(0).$node[\"Config Ingest\"].json[\"master_llm_system_prompt\"] }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "gen-0025",
      "name": "Master RAG LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        5520,
        768
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0]?.json || {};\nlet candidate = raw.text || raw.response || raw.output || raw.message || raw.content || '';\nif (typeof candidate !== 'string') candidate = JSON.stringify(candidate || {});\nlet cleaned = candidate.trim();\nif (cleaned.startsWith('```json')) cleaned = cleaned.replace(/^```json\\s*/i, '').replace(/\\s*```$/i, '').trim();\nelse if (cleaned.startsWith('```')) cleaned = cleaned.replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\nlet parsed = null;\ntry { parsed = JSON.parse(cleaned); } catch(e) {}\nreturn [{ json: {\n  Run_Timestamp: new Date().toISOString(),\n  Raw_Master_JSON: parsed ? JSON.stringify(parsed) : cleaned,\n  Raw_Lane_Outputs_JSON: '',\n  Raw_Citations_JSON: ''\n}}];"
      },
      "id": "gen-0026",
      "name": "Final Master Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        768
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$item(0).$node[\"Config Ingest\"].json[\"spreadsheet_id\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SIGNAL_Insights_Output",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "gen-0027",
      "name": "Write Insights to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6128,
        768
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wzla15JVISoyJgdu",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook DataSources": {
      "main": [
        [
          {
            "node": "Read Metadata Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Metadata Sheet": {
      "main": [
        [
          {
            "node": "Build DataSources Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DataSources Response": {
      "main": [
        [
          {
            "node": "Respond DataSources Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook SyncTrigger": {
      "main": [
        [
          {
            "node": "Respond SyncTrigger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook KPI": {
      "main": [
        [
          {
            "node": "Config KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config KPI": {
      "main": [
        [
          {
            "node": "Read KPI Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read KPI Sheet": {
      "main": [
        [
          {
            "node": "Simplify KPI Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify KPI Data": {
      "main": [
        [
          {
            "node": "Respond KPI Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook MetricsCharts": {
      "main": [
        [
          {
            "node": "Read Returns For Charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Returns For Charts": {
      "main": [
        [
          {
            "node": "Compute Chart Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Chart Payloads": {
      "main": [
        [
          {
            "node": "Respond MetricsCharts Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Insights": {
      "main": [
        [
          {
            "node": "Read Insights Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Insights Output": {
      "main": [
        [
          {
            "node": "Format Insights Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Insights Response": {
      "main": [
        [
          {
            "node": "Respond Insights Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Ingest": {
      "main": [
        [
          {
            "node": "Read Raw SQL Returns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read CRM Transcripts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read VoC Reviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Fraud Abuse",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read NPS FeatureBoards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Raw SQL Returns": {
      "main": [
        [
          {
            "node": "Prepare returns Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare returns Docs": {
      "main": [
        [
          {
            "node": "Pinecone Insert returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CRM Transcripts": {
      "main": [
        [
          {
            "node": "Prepare crm Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare crm Docs": {
      "main": [
        [
          {
            "node": "Pinecone Insert crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read VoC Reviews": {
      "main": [
        [
          {
            "node": "Prepare reviews Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare reviews Docs": {
      "main": [
        [
          {
            "node": "Pinecone Insert reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Fraud Abuse": {
      "main": [
        [
          {
            "node": "Prepare fraud Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare fraud Docs": {
      "main": [
        [
          {
            "node": "Pinecone Insert fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read NPS FeatureBoards": {
      "main": [
        [
          {
            "node": "Prepare nps Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare nps Docs": {
      "main": [
        [
          {
            "node": "Pinecone Insert nps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "returns Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert returns",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "crm Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert crm",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "reviews Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert reviews",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "fraud Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert fraud",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "nps Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Insert nps",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert returns",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve returns",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert crm",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve crm",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert reviews",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve reviews",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert fraud",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve fraud",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Insert nps",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve nps",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert returns": {
      "main": [
        [
          {
            "node": "Sync Inserts A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert crm": {
      "main": [
        [
          {
            "node": "Sync Inserts A",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sync Inserts A": {
      "main": [
        [
          {
            "node": "Sync Inserts B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert reviews": {
      "main": [
        [
          {
            "node": "Sync Inserts B",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sync Inserts B": {
      "main": [
        [
          {
            "node": "Sync Inserts C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert fraud": {
      "main": [
        [
          {
            "node": "Sync Inserts C",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sync Inserts C": {
      "main": [
        [
          {
            "node": "Sync Inserts D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert nps": {
      "main": [
        [
          {
            "node": "Sync Inserts D",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sync Inserts D": {
      "main": [
        [
          {
            "node": "Wait For Pinecone Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Pinecone Indexing": {
      "main": [
        [
          {
            "node": "Build Retrieval Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retrieval Requests": {
      "main": [
        [
          {
            "node": "Pinecone Retrieve returns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve crm",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve reviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve fraud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Retrieve nps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve returns": {
      "main": [
        [
          {
            "node": "Format Context returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context returns": {
      "main": [
        [
          {
            "node": "RAG LLM returns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve crm": {
      "main": [
        [
          {
            "node": "Format Context crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context crm": {
      "main": [
        [
          {
            "node": "RAG LLM crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve reviews": {
      "main": [
        [
          {
            "node": "Format Context reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context reviews": {
      "main": [
        [
          {
            "node": "RAG LLM reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve fraud": {
      "main": [
        [
          {
            "node": "Format Context fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context fraud": {
      "main": [
        [
          {
            "node": "RAG LLM fraud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retrieve nps": {
      "main": [
        [
          {
            "node": "Format Context nps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context nps": {
      "main": [
        [
          {
            "node": "RAG LLM nps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter RAG Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG LLM returns",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM crm",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM reviews",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM fraud",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG LLM nps",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Master RAG LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG LLM returns": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG LLM crm": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lane LLM 1": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG LLM reviews": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lane LLM 2": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG LLM fraud": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lane LLM 3": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG LLM nps": {
      "main": [
        [
          {
            "node": "Merge Lane LLM 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lane LLM 4": {
      "main": [
        [
          {
            "node": "Build Master Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Master Context": {
      "main": [
        [
          {
            "node": "Master RAG LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master RAG LLM": {
      "main": [
        [
          {
            "node": "Final Master Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Master Output": {
      "main": [
        [
          {
            "node": "Write Insights to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "ddf7122d233e93cd0f80ee59905968e32e1ebe3cf80573fd9724ab5fedc3985e"
  },
  "tags": []
}
